{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'help-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Method of payment
        </h1>

        <p>If paying by cheque or postal order, you must include this with your application form.</p>

        <p>Cheques and postal orders payable to &lsquo;HM Courts & Tribunals Service&rsquo;.</p>

        <p>Credit or debit card payments must be made over the telephone within 10 days of receiving your application acknowledgment.</p>

        <p>If you would like to pay by credit or debit card then contact the GRP administrator on  020 3936 8963 and have your GRP reference number to hand.</p>

        {{ govukInsetText({
          text: 'If you fail to provide the correct fee, your application will not be processed until the Gender Recognition Panel receives the correct payment.',
          classes: 'govuk-!-margin-bottom-8'
        }) }}


        {{ govukRadios({
          idPrefix: 'payment-method',
          name: 'payment-method',
          classes: '',
          fieldset: {
            legend: {
              text: 'How are you paying the fee?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Cheque',
              value: 'Cheque',
              checked: checked('payment-method','Cheque')
            },
            {
              html: 'Credit or debit card',
              value: 'Credit or debit card',
              checked: checked('payment-method','Credit or debit card')
            },
            {
              html: 'Postal order',
              value: 'Postal order',
              checked: checked('payment-method','Postal order')
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
