{% extends "layout.html" %}
{% set mainClasses = "confirmation" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: 'Application submitted',
        html: 'You should post all remaining documents to us as soon as possible'
      }) }}

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">
        What you need to do next
      </h2>

      <p>Post all remaining documents to us as soon as possible. Include your name and return address with them.</p>

      <p class="govuk-!-margin-bottom-2">Based on your application, the documents that need to be posted are:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-">
        {{
          '<li>your original or a <a href="https://www.gov.uk/certifying-a-document" rel="noreferrer noopener" target="_blank">certified copy (opens in new tab)</a> of your full birth certificate</li>' | safe
          if data['uk-check'] != 'No' and data['adopted'] != 'Yes'
        }}
        {{
          '<li>your original or a <a href="https://www.gov.uk/certifying-a-document" rel="noreferrer noopener" target="_blank">certified copy (opens in new tab)</a> of your full adoption certificate</li>' | safe
          if data['uk-check'] != 'No' and data['adopted'] == 'Yes'
        }}
        {{
          '<li>an official confirmation of date of birth and birth gender</li>' | safe
          if data['uk-check'] == 'No'
        }}
        {{
          '<li>a <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852944/t467-eng.pdf" rel="noreferrer noopener" target="_blank">statutory declaration for single applicants (opens in new tab)</a></li>' | safe
          if data['current-check'] == 'Neither'
        }}
        {{
          '<li>a <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852943/t466-eng.pdf" rel="noreferrer noopener" target="_blank">statutory declaration for applicants who are married or in a
civil partnership (opens in new tab)</a></li>' | safe
          if data['current-check'] != 'Neither'
        }}
        {{
          '<li><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852946/t469-eng.pdf" rel="noreferrer noopener" target="_blank">your spouse&rsquo;s statutory declaration (opens in new tab)</a></li>' | safe
          if data['current-check'] == 'Married' and data['stay-together'] == 'Yes'
        }}
        {{
          '<li><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852946/t469-eng.pdf" rel="noreferrer noopener" target="_blank">your civil partner&rsquo;s statutory declaration (opens in new tab)</a></li>' | safe
          if data['current-check'] == 'Civil partnership' and data['stay-together'] == 'Yes'
        }}
        {{
          '<li>your original marriage certificate or a <a href="https://www.gov.uk/certifying-a-document" rel="noreferrer noopener" target="_blank">certified copy (opens in new tab)</a></li>' | safe
          if data['current-check'] == 'Married'
        }}
        {{
          '<li>your original civil partnership certificate or a <a href="https://www.gov.uk/certifying-a-document" rel="noreferrer noopener" target="_blank">certified copy (opens in new tab)</a></li>' | safe
          if data['current-check'] == 'Civil partnership'
        }}
        {{
          '<li>a copy of your spouse or civil partner&rsquo;s death certificate</li>' | safe
          if data['partner-died'] == 'Yes'
        }}
        {{
          '<li>a copy of your decree(s) dissolving the marriage or civil partnership</li>' | safe
          if data['ended-check'] == 'Yes'
        }}
        {{
          '<li>official documentation that shows that your affirmed gender has been recognised in an approved country or territory</li>' | safe
          if data['overseas']
        }}
        {{
          '<li>an <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees" rel="noreferrer noopener" target="_blank">EX160 form (opens in new tab)</li>' | safe
          if data['help-type'] == 'Using the EX160 form'
        }}
      </ul>

      <p class="govuk-!-margin-bottom-2">They should be sent to:</p>
      {{ govukInsetText({
        html: 'Gender Recognition Panel<br>
          PO Box 9300<br>
          Leicester<br>
          LE1 8DJ',
          classes: 'govuk-!-margin-top-0'
      }) }}

      <p>You can <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate">order a birth, death, marriage or civil partnership certificate</a> online if you live in England and Wales. There&rsquo;s a different process for <a href="http://www.nrscotland.gov.uk/registration/how-to-order-an-official-extract-from-the-registers">getting certificates in Scotland</a> and <a href="http://www.nidirect.gov.uk/index/do-it-online/government-citizens-and-rights-online/order-a-birth-adoption-death-marriage-or-civil-partnership-certificate.htm">getting certificates in Northern Ireland</a>.</p>

      <p>Once you&rsquo;ve supplied these documents your application will be reviewed by the Gender Recognition Panel. You will be contacted if the panel requires more information or documentation.</p>

      <p>You will then be told if you will be issued with a Gender Recognition Certificate, and what you can do if your application has not been accepted.</p>

      <p>Decisions take around 22 weeks on average.</p>


      <p class="govuk-!-margin-top-9"><a href="#0">What did you think of this service?</a> (takes 30 seconds)</p>



    </div>
  </div>

{% endblock %}
