{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'overseas-approved-check' if data['overseas-check'] == 'Yes' else 'overseas-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Confirm that you meet requirements
        </h1>

        <p class="govuk-!-margin-bottom-2">You can apply for a Gender Recognition Certificate if you:</p>
        {% if data['overseas'] %}
          <ul class="govuk-list govuk-list--bullet">
            <li>are 18 or over</li>
            <li>you have a legal document showing your gender recognition from that country</li>
          </ul>
        {% else %}
          <ul class="govuk-list govuk-list--bullet">
            <li>are 18 or over</li>
            <li>have been diagnosed with gender dysphoria </li>
            <li>are living in your affirmed gender and have been for at least 2 years</li>
            <li>you intend to live in your affirmed gender for the rest of your life</li>
          </ul>
        {% endif %}

        <p>If you were born in the UK, the Gender Recognition Panel will tell the relevant General Register Office about your application.</p>

        <p>This will include telling them if you are married or in a civil partnership registered in England and Wales or Scotland and you are applying for gender recognition while remaining married or in a civil partnership.</p>

        <p class="govuk-!-margin-bottom-8">After you receive you certificate, the General Register Office will contact you about your new birth certificate and, if appropriate, a new certificate for your marriage or civil partnership.</p>

        {{ govukCheckboxes({
          idPrefix: 'pre-declaration',
          name: 'pre-declaration',
          classes: 'checkboxes-long-text',
          items: [
            {
              html: 'I confirm that I meet the requirements for applying for a Gender Recognition Certificate and I consent to the General Register Office contacting me about my application',
              value: 'dec1',
              checked: checked('pre-declaration','dec1')
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
