{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'overseas-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Gender recognition in approved countries and territories
        </h1>

        <p>If you have had your affirmed gender recognised in an approved country or territory, then you will need to provide official documentation that shows this.</p>

        <p>This could be:</p>
        
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>a document that’s equal to a Gender Recognition Certificate</li>
          <li>an updated birth certificate</li>
          <li>a court order</li>
          <li>an entry in a legal register</li>
        </ul>
        
        <h2 class="govuk-heading-l">
          List of approved countries and territories
        </h2>
        
        <p>If you have received gender recognition from somewhere else, or you can’t provide this documentation then you will need to provide medical reports and evidence of living in your gender for 2 years instead.</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>Australia <span class="govuk-hint">(Territories of Australian Capital Territory and Northern Territory and the states of New South Wales, Queensland, South Australia, Tasmania, Victoria and Western Australia)</span></li>
          <li>Canada <span class="govuk-hint">(Provinces of Alberta, British Columbia, Manitoba, New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Quebec and Saskatchewan and the Yukon Territory)</span></li>
          <li>Austria</li>
          <li>Belgium</li>
          <li>Bulgaria</li>
          <li>Croatia</li>
          <li>Republic of Cyprus</li>
          <li>Czech Republic</li>
          <li>Denmark</li>
          <li>Estonia</li>
          <li>Finland</li>
          <li>France</li>
          <li>Germany</li>
          <li>Greece</li>
          <li>Iceland</li>
          <li>Italy</li>
          <li>Japan</li>
          <li>Liechtenstein</li>
          <li>Luxembourg</li>
          <li>Malta</li>
          <li>Federal District of Mexico</li>
          <li>Moldova</li>
          <li>Netherlands</li>
          <li>New Zealand</li>
          <li>Norway</li>
          <li>Poland</li>
          <li>Romania</li>
          <li>Russian Federation</li>
          <li>Serbia</li>
          <li>Singapore</li>
          <li>Slovakia</li>
          <li>Slovenia</li>
          <li>South Africa</li>
          <li>South Korea</li>
          <li>Spain</li>
          <li>Sweden</li>
          <li>Switzerland</li>
          <li>Turkey</li>
          <li>Ukraine</li>
          <li>Uruguay</li>
          <li>United States of America <span class="govuk-hint">(the District of Columbia and all of the states except for Idaho, Ohio, Tennessee and Texas)<span></li>
        </ul>

        {{ govukRadios({
          idPrefix: 'overseas-approved-check',
          name: 'overseas-approved-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Do you have official documentation that shows your affirmed gender has been recognised in one of these countries or territories?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            text: 'Select ‘No’ if you have received gender recognition from somewhere else, or you can’t provide this documentation.'
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('overseas-approved-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('overseas-approved-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
