{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../guidance/apply'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Email address
        </h1>

        <p>You need to provide an email address to apply for a Gender Recognition Certificate using this service.</p>

        <p>This is so we can save your progress and you can return to your application later.</p>

        <p class="govuk-!-margin-bottom-8">After providing an email address, we will give you a reference number. You will need both of these when if you return to your application. </p>




        {{ govukInput({
          id: 'email',
          name: 'email',
          value: data['email'],
          type: 'email',
          autocomplete: 'email',
          spellcheck: false,
          classes: 'govuk-input--width-20',
          label: {
            text: 'What is your email address?',
            classes: 'govuk-label--m'
          }
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

        <p><a class="govuk-link--no-visited-state" href="save-and-return/return">Return to a saved application</a></p>


      </form>

    </div>
  </div>
{% endblock %}
