{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../guidance/apply'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Save your application
        </h1>

        <p>We need your email address so you can save your progress and return later.</p>

        <p>This is so we can send a confirmation message to confirm it&rsquo;s you when you come back to your application.</p>

        <p class="govuk-!-margin-bottom-8">We will also give you a reference number to use when returning to a saved application.</p>




        {{ govukInput({
          id: 'email',
          name: 'email',
          value: data['email'],
          type: 'email',
          autocomplete: 'email',
          spellcheck: false,
          classes: 'govuk-input--width-20',
          label: {
            text: 'What is your email address?',
            classes: 'govuk-label--m'
          }
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

        <p><a class="govuk-link--no-visited-state" href="save-and-return/return">Return to a saved application</a></p>


      </form>

    </div>
  </div>
{% endblock %}
