<div class="gem-c-contextual-footer govuk-!-padding-top-6">
  <div class="gem-c-related-navigation">

    <nav role="navigation" class="gem-c-related-navigation__nav-section">

      <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>

      <ul class="gem-c-related-navigation__link-list">
        <li class="gem-c-related-navigation__link">
          <a
            class="gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" href="/browse/births-deaths-marriages/register-offices">Certificates, register offices, changes of name or gender</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
