<div class="govuk-grid-column-one-third">
  <div class="gem-c-contextual-sidebar">
    <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-298b5325" class="gem-c-related-navigation__main-heading">
        Related content
      </h2>

      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <ul class="gem-c-related-navigation__link-list">

          <li class="gem-c-related-navigation__link">
            <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#0">Change your name by deed poll</a>
          </li>
          <li class="gem-c-related-navigation__link">
            <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#0">Discrimination: your rights</a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</div>
