// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/internal";
@import "patterns/interuption-card";

// Style code examples in documentation
code {
  @include govuk-font($size: 19);
  color: #d13118;
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
  padding: 0 govuk-spacing(1);
}

// Additional GOV.UK styles and publisher components
@import "govuk-publisher-components/all-components";
@import "govuk/guide";



.remove-link {
  &:link,
  &:visited {
    color: #d4351c;
  }

  &:hover {
    color: #aa2a16;
  }
}


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// .govuk-hint * {
//   color: $govuk-secondary-text-colour;
// }

// Add a loader for the form generation page
@import "patterns/loader";
// Add gov file styles
@import "patterns/file-attachment";


// Update the notification banner to be out next steps
.govuk-notification-banner__header {
  padding: govuk-spacing(5) govuk-spacing(4) govuk-spacing(6);
}

.govuk-notification-banner__title {
  @include govuk-font($size: 27, $weight: bold);
}





// Update inset text to callout more important information, eg reference number
.callout {
  background: govuk-colour("light-grey");
  // padding: govuk-spacing(6) govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
}

.callout__title {
  @include govuk-font($size: 48, $weight: bold);
}



// Modify the moj multi upload drop styles
.moj-multi-file-upload__dropzone {
  outline-color: $govuk-link-colour;
  outline-width: 4px;

  @include govuk-media-query($from: desktop) {
    padding: 100px 15px;
  }
}

.moj-multi-file-upload--dragover {
	background-color: #f1f1f1;
  color: $govuk-focus-text-colour;
  outline-color: $govuk-focus-colour;
}



// align text on multi line checkboxes
.checkboxes-long-text {
  .govuk-checkboxes__input,
  .govuk-checkboxes__label::before {
    top: 50%;
    transform: translateY(-50%);
  }
  .govuk-checkboxes__label::after {
    top: calc(50% - 3px);
    transform: translateY(-50%) rotate(-45deg);
  }
}
