{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Guidance
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>We want to look at how improving the guidance content on GOV.UK would improve the service.</p>

      <h2 class="govuk-heading-m">
        Version 1
      </h2>

      {# <h3 class="govuk-heading-s">Changes</h3> #}
      <p>We&rsquo;ve updated the guidance section on GOV.UK and want to test the new content and find out if it allows people thinking of applying the information they need around which track is best for them and what the application process involves.</p>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>Participants are clear about who can apply, but they want:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>more information about the affects of the GRC and what it allows them to do in order to understand how it could benefit them</li>
        <li>information about other possible costs</li>
        <li>information about the definition of legal recognition and the legal implications of the having a GRC</li>
        <li>more guidance about the documents needed</li>
        <li>to limit their interaction with government, not having to submit the same information more than once</li>
        <li>information about what a Gender Recognition Statutory Declaration is</li>
        <li>examples of the evidence needed to show they have been living in their acquired gender</li>
        <li>more guidance on marriage and civil partnership implications, particularly when an interim GRC certificate will be needed</li>
        <li>they are frustrated about the list of approved practitioners and confused about what medical evidence is required</li>
      </ul>


      <p><a href="https://docs.google.com/presentation/d/1ul6dLKm93c0lWLWKK-pF8Q6jrxxh3W_wdjWt0eZ-uBw/edit#slide=id.ge91ef82e59_0_12">View full user research report</a>.<p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v1/overview'
      }) }}






      {# {% set v1 %}
        <h3 class="govuk-heading-s">Changes</h3>
        <p>Information about this version.</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Information about the research.</p>
        <p><a href="#0">View user research report</a>.<p>

        {{ govukButton({
          text: 'View prototype',
          href: 'v1/question'
        }) }}
      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }} #}

    </div>
  </div>
{% endblock %}
