{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'uk-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set questionText %}
        {% if data['uk-check'] == 'Scotland' %}
          Were you in a Scottish protected marriage or a Scottish protected civil partnership at the time the gender recognition provisions of the Marriage and Civil Partnership (Scotland) Act 2014 commenced on 16 December 2014?
        {% elif data['uk-check'] == 'Northern Ireland' %}
          Were you in a protected marriage or civil partnership at the time the gender recognition provisions of the Marriage (Same-sex Couples) and Civil Partnership (Opposite-sex Couples) (Northern Ireland) Regulations 2019 commenced on 13 January 2020?
        {% else %}
          Were you in a protected marriage or civil partnership at the time the gender recognition provisions of The Marriage(Same Sex Couples) Act 2013 commenced on 10 December 2014?
        {% endif %}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          idPrefix: 'protected-marriage-check',
          name: 'protected-marriage-check',
          classes: '',
          fieldset: {
            legend: {
              text: questionText,
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('protected-marriage-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('protected-marriage-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
