{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'protected-marriage-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set questionText %}
        {% if data['uk-check'] == 'Scotland' %}
          Did you live for at least six years before 16 December 2014 in your affirmed gender?
        {% elif data['uk-check'] == 'Northern Ireland' %}
          Did you live for at least six years before 13 January 2020 in your affirmed gender?
        {% else %}
          Did you live for at least six years before 10 December 2014 in your affirmed gender?
        {% endif %}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          idPrefix: 'six-years-check',
          name: 'six-years-check',
          classes: '',
          fieldset: {
            legend: {
              text: questionText,
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('six-years-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('six-years-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
