{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply for a Gender Recognition Certificate yet
      </h1>

      <p>You must have or have had gender dysphoria or else have undergone surgical treatment for the purpose of modifying your sexual characteristics to apply for a Gender Recognition Certificate.</p>

      <p><a href="start">Go back to this tool&rsquo;s start page</a>.</p>

    </div>
  </div>
{% endblock %}
