{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply for a Gender Recognition Certificate
      </h1>

      <p>You must be ordinarily  resident in England, Wales, Scotland or Northern Ireland or be able to provide evidence that you have been diagnosed with gender dysphoria, gender identity disorder or transsexualism to apply for a Gender Recognition Certificate.</p>

      <p><a href="start">Go back to this tool&rsquo;s start page</a>.</p>

    </div>
  </div>
{% endblock %}
