{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Return to a saved application
        </h1>


        {{ govukInput({
          classes: 'govuk-!-width-three-quarters',
          label: {
            html: 'Enter your reference number',
            classes: 'govuk-label--/s'
          }
        }) }}

        {{ govukInput({
          classes: 'govuk-!-width-three-quarters',
          label: {
            html: 'Enter your memorable word',
            classes: 'govuk-label--/s'
          }
        }) }}




        {{ govukButton({
          html: 'Continue',
          href: '../task-list'
        }) }}

    </div>
  </div>
{% endblock %}
