{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply for a Gender Recognition Certificate yet
      </h1>

      <p>You must be 18 years old or more to apply for a Gender Recognition Certificate.</p>

      <p>You will be able to apply once you turn 18. </p>

      <p><a href="start">Go back to this tool&rsquo;s start page</a>.</p>

    </div>
  </div>
{% endblock %}
