{% extends "layout.html" %}

{% block header %}
  {% include "./_govuk-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "./_breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Use this tool to find out if you can apply for a Gender Recognition Certificate. It will ask you a series of questions and tell you if you can apply as well as the next steps.</p>

      <p>Checking takes around 3 minutes.</p>

      <a href="age-check" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



      {% include "./_explore-topic.html" %}
    </div>

    {% include "./_related-content.html" %}
  </div>
{% endblock %}
