{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Beta end to end journey
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p>This is the end to end online journey we&rsquo;ll be building in beta.</p>

      <h2 class="govuk-heading-m">
        Version 2
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>added the overseas route in</li>
        <li>moved the part of the declaration about information provided to the final check your answers after selecting payment</li>
        <li>removed the numbers from the task list</li>
        <li>moved the copy about submitting when all sections are done inline with the submit and pay section</li>
        <li>updated copy to say they&rsquo;ll be able to upload name change docs later</li>
        <li>updated civil partnership flow to be the same as marriage, removing the application at same time clause for scotland</li>
        <li>updated the check your answers page after payment method to be the whole application, with a list of which docs will need to be posted</li>
        <li>updated confirmation page to be clear how long they have to post documents</li>
      </ul>

      {{ govukButton({
        text: 'View prototype',
        href: 'v2/guidance/overview'
      }) }}





      {% set v1 %}
      <p>We want to test the proposed end to end journey before moving into beta. It&rsquo;s based on the <a href="/application/">application journey we tested previously</a>.</p>

      <p>We&rsquo;re going to allow the users to have time before the usability session to read through the guidance, which has been updated based on previous research. We want to ensure that people understand the application journey is started online but involves submitting documents after.</p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v1/guidance/overview'
      }) }}



      {% set allPages %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Guidance</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1/guidance/overview">Overview</a></li>
          <li><a href="v1/guidance/who-can-apply">Who can apply</a></li>
          <li><a href="v1/guidance/what-it-means">What it means</a></li>
          <li><a href="v1/guidance/documents-needed">Documents you need</a></li>
          <li><a href="v1/guidance/apply">Apply</a></li>
        </ul>




        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Application</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1/application/declaration">Declaration</a></li>
          <li><a href="v1/application/save-and-return/start-application">Returning to your application</a></li>
          <li><a href="v1/application/task-list">Task list</a></li>

          <li class="govuk-!-font-weight-bold">
            Personal details
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v1/application/personal/name">Name</a></li>
              <li><a href="v1/application/personal/previous-names-check">Previous name check</a></li>
              <li><a href="v1/application/personal/name-for-correspondence-check">Other name for contact check</a></li>
              <li><a href="v1/application/personal/name-for-correspondence">Other name for contact</a></li>
              <li><a href="v1/application/personal/contact-preferences">Contact method preference</a></li>
              <li><a href="v1/application/personal/hmrc">HMRC contact check</a></li>
              <li><a href="v1/application/personal/ni-number">NI number</a></li>
              <li><a href="v1/application/personal/check-your-answers">Check answers</a></li>
            </ul>
          </li>

          <li class="govuk-!-font-weight-bold">
            Marriage or civil partnership details
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v1/application/marriage-civil-partnership/current-check">Current check</a></li>
              <li><a href="v1/application/marriage-civil-partnership/stay-together">Stay together</a></li>
              <li><a href="v1/application/marriage-civil-partnership/partner-agrees">Partner/spouse agrees</a></li>
              <li><a href="v1/application/marriage-civil-partnership/protected-civil-partnership">Protected civil partnership</a> &ndash; remove?</li>
              <li><a href="v1/application/marriage-civil-partnership/interim-check">Interim check</a></li>
              <li><a href="v1/application/marriage-civil-partnership/interim-no">Interim no</a></li>
              <li><a href="v1/application/marriage-civil-partnership/check-your-answers">Check answers</a></li>
            </ul>
          </li>

          <li class="govuk-!-font-weight-bold">
            Uploads
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v1/application/medical-reports/upload">Medical reports</a></li>
              <li><a href="v1/application/evidence/upload">Evidence</a></li>
              <li><a href="v1/application/name-change/upload">Name change</a></li>
            </ul>
          </li>

          <li class="govuk-!-font-weight-bold">
            Payment
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v1/application/payment/method">Method</a></li>
              <li><a href="v1/application/payment/help-type">Help</a></li>
              <li><a href="v1/application/payment/check-your-answers">Check answers</a></li>
              <li><a href="v1/application/payment/payment-details">GOV.UK card details</a></li>
              <li><a href="v1/application/payment/payment-confirmation">GOV.UK confirmation</a></li>
            </ul>
          </li>


          <li><a href="v1/application/confirmation">Confirmation</a></li>
        </ul>
      {% endset %} {# /allPages #}

      {{ govukDetails({
        summaryText: 'Links to all pages',
        html: allPages
      }) }}

      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
