{% extends "layout.html" %}
{% set mainClasses = "guide" %}

{% block header %}
  {% include "./_includes/govuk-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "./_includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Apply for a Gender Recognition Certificate
        </h1>
      </div>

      <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="overview">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="who-can-apply">Who can apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="what-it-means">What it means to legally change your gender</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active gem-c-contents-list__list-item--active">
              Documents you need to provide
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="apply">Apply for a Gender Recognition Certificate</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds" id="guide-contents">
      <h1 class="part-title">
        Documents you need to provide
      </h1>

      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">

        <p>You should collect the documents you need before applying for a Gender Recognition Certificate.</p>

        <p>You will need to provide:</p>
        <ul>
          <li>an original or certified <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate">copy of your full birth certificate</a> or official confirmation of date of birth and birth gender (if outside UK)</li>
          <li>a <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852944/t467-eng.pdf">Gender Recognition Statutory Declaration</a></li>
          <li>copies of all change of name documents if you plan to change your name</li>
          <li>a medical report that includes details of your gender dysphoria diagnosis</li>
          <li>a medical report that includes specific details of your treatment, or planned treatment</li>
        </ul>

        <p>If you have ever been married or been in a civil partnership, you will also need to provide:</p>
        <ul>
          <li>an original marriage certificate or a certified copy </li>
          <li>spouse of civil partner’s statutory declaration, if you intend to remain married after receiving your Gender Recognition Certificate</li>
          <li>a copy of your decree(s) dissolving the marriage or civil partnership, if you do not intend to remain married</li>
        </ul>

        <p>If your spouse or civil partner has died you need to provide:</p>
        <ul>
          <li>a copy of your spouse or civil partner’s death certificate</li>
        </ul>




        <h2>
          If your gender has been recognised in another country
        </h2>

        <p>If your new gender has been legally accepted in <a href="https://www.gov.uk/government/publications/overseas-gender-recognition-2011-t491">one of these approved countries or territories</a> and are looking for legal recognition in the UK, then you need to provide original or certified copies of:</p>
        <ul>
          <li>your new birth certificate and old birth certificate</li>
          <li>an amended birth certificate that shows the change of gender</li>
          <li>a court order authorising your change of gender</li>
          <li>a document that’s equivalent to a Gender Recognition Certificate</li>
          <li>an entry in a legal register that proves your acquired gender has been recognised</li>
        </ul>




        <h2>
          Evidence of living in your gender
        </h2>

        <p>You will need to provide evidence of living in your affirmed gender from the last 2 years. All documents must be dated and include your name. </p>

        <p>You should provide no more than 8 documents from the last 2 years. Try to include documents from dates that are spread throughout those 2 years.</p>

        <p>For example, try and provide 4 documents per year and do not provide documents that are all dated in the same month.</p>

        <p>Examples of what you could provide include:</p>
        <ul>
          <li>driving licence</li>
          <li>passport</li>
          <li>payslips, P60 or P45</li>
          <li>benefits or tax letters and documents</li>
          <li>bank statements and utility bills</li>
          <li>letters from official, professional or business organisations like solicitors, accountants, dentists, doctors and employers</li>
          <li>academic certificates or documentation</li>
          <li>health care or identity cards including photo ID issued by an official organisation</li>
        </ul>




        <h2>
          What your medical reports must include
        </h2>

        <p>The first report must provide specific details of your diagnosis of gender dysphoria.</p>

        <p>It must be provided by a registered medical practitioner or registered psychologist practising in the field of gender dysphoria.</p>

        <p>The second report must include specific details of your treatment, or planned treatment, such as hormone treatments or surgery. </p>

        <p>This report must be made by a registered medical practitioner but they do not need to practise in the field of gender dysphoria. </p>

        <p>This means the report could be completed by your GP or surgeon.</p>




      </div>

      {{ govukPagination({
        previous: {
          href: 'what-it-means',
          text: 'What it means to legally change your gender'
        },
        next: {
          href: 'apply',
          text: 'Apply for a Gender Recognition Certificate'
        }
      }) }}

      {% include "./_includes/explore-topic.html" %}
    </div>

    {% include "./_includes/related-content.html" %}

  </div>
{% endblock %}
