{% extends "layout_unbranded.html" %}

{% block content %}
<style>
  .govuk-template, .govuk-template__body {
    background-color: rgba(40, 40, 43, 1);
    margin: 10px 0;
  }

  .govuk-main-wrapper {
    padding-top: 0!important;
  }

  .page {
    position: relative;
    width: 792px;
    height: 1273px;
    background-color: #fff;
    padding: 100px 80px 70px!important;
    margin: 0 0 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,2),0 6px 20px 0 rgba(0,0,0,19) !important;
  }

  .page-number {
    position: absolute;
    bottom: 70px;
    right: 100px;
    font-size: 16px;
    margin: 0;
  }

  .govuk-phase-banner {
    display: none !important;
  }

  .govuk-summary-list__key {
    width: 100%;
  }

  p, .govuk-summary-list {
    font-size: 20px;
  }
</style>

<div class="page">
  <p class="page-number">Page 1</p>
  <img src="/public/images/hmcts-logo.png" width="250" class="govuk-!-margin-bottom-9"/>
  <h1 class="govuk-heading-l">
    Standard application for a<br>
    Gender Recognition Certificate
  </h1>

  <p>This application form is pre-filled based on the answers you gave online.</p>

  <p>Sign it and post it with your medical reports, declarations and any evidence to support your application.</p>

  {% set postalDetails %}
    <p class="govuk-!-margin-bottom-2">Send this to:</p>
    <p>Gender Recognition Panel <br>
    PO Box 9300 <br>
    Leicester <br>
    LE1 8DJ</p>
  {% endset -%}
  {{ govukInsetText({
    html: postalDetails
  }) }}


  <p>Your application will be reviewed by the Gender Recognition Panel. They may contact you if they require more information.</p>

  <p>You will then be told if you will be issued with a Gender Recognition Certificate.</p>

  <p>If your application is unsuccessful, you will be told how you can reapply or appeal the decision.</p>

  <p>Decisions take around 12 weeks on average.</p>
</div>

<div class="page">
  <p class="page-number">Page 2</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m govuk-!-font-size-27">
        Requirements
      </h2>
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Recognised in a country or territory outside the UK'
            },
            value: {
              text: data['overseas-check'] or 'No'
            }
          },
          {
            key: {
              text: 'Able to provide 2 medical reports'
            },
            value: {
              html: data['dysphoria-check'] or 'Yes'
            }
          }
        ]
      }) }}
      {# {
        key: {
          text: 'Aged 18 or over'
        },
        value: {
          text: data['age-check'] or 'Yes'
        }
      },

      {
        key: {
          text: 'Lived in afirmed gender for at least 2 years'
        },
        value: {
          html: data['two-years-check'] or 'Yes'
        }
      },
      {
        key: {
          text: 'Intend to live fully in your affirmed gender'
        },
        value: {
          html: data['until-death-check'] or 'Yes'
        }
      } #}



      {% if data['current-check'] == 'Neither' %}


        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Marriage or civil partnership details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Neither'
              }
            },
            {
              key: {
                text: 'Spouse or partner has died'
              },
              value: {
                text: data['partner-died'] or 'No'
              }
            }
          ]
        }) }}


      {% elif  data['current-check'] == 'Civil partnership' %}


        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Civil partnership details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Civil partnership'
              }
            },
            {
              key: {
                text: 'Protected civil partnership'
              },
              value: {
                text: data['protected-civil-partnership'] or 'No'
              }
            },
            {
              key: {
                text: 'Partner appling at the same time'
              },
              value: {
                text: data['same-time'] or 'No'
              }
            } if data['protected-civil-partnership'] == 'Yes, a protected Scottish civil partnership',
            {
              key: {
                text: 'Remain in civil partnership'
              },
              value: {
                text: data['stay-together'] or 'Yes'
              }
            } if data['protected-civil-partnership'] == 'Yes, registered in England, Wales, Northern Ireland or outside of the UK',
            {
              key: {
                text: 'Can provide a declaration of consent from your partner'
              },
              value: {
                text: data['partner-agrees'] or 'Yes'
              }
            } if data['stay-together'] == 'Yes',
            {
              key: {
                text: 'Interim GRC'
              },
              value: {
                text: 'Yes'
              }
            } if data['stay-together'] == 'No' or data['same-time'] == 'No' or data['partner-agrees'] == 'No'
          ] | cleanArray
        }) }}


      {% else %}


        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Marriage details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Married'
              }
            },
            {
              key: {
                text: 'Protected marriage'
              },
              value: {
                text: data['protected-marriage'] or 'No'
              }
            },
            {
              key: {
                text: 'Remain married'
              },
              value: {
                text: data['stay-together'] or 'Yes'
              }
            } if data['protected-marriage'] == 'Yes',
            {
              key: {
                text: 'Can provide a declaration of consent from your spouse'
              },
              value: {
                text: data['partner-agrees'] or 'Yes'
              }
            } if data['protected-civil-partnership'] == 'Yes, registered in England, Wales, Northern Ireland or outside of the UK' and data['stay-together'] == 'Yes',
            {
              key: {
                text: 'Interim GRC'
              },
              value: {
                text: 'Yes'
              }
            } if data['protected-marriage'] == 'No' or data['stay-together'] == 'No' or data['partner-agrees'] == 'No'
          ] | cleanArray
        }) }}


      {% endif %}





      <h2 class="govuk-heading-m govuk-!-font-size-27">
        Personal details
      </h2>

      {% set name %}
        {% if data['first-name'] %}
          {{ data['first-name'] + ' ' + data['last-name'] }}
        {% else %}
          Rosie Armstrong
        {% endif %}
      {% endset %}

      {% set address %}
        {% if data['address-line-1'] %}
          {{ data['address-line-1'] }}<br>
          {{ data['address-line-2'] }}
          {{ '<br>' | safe if data['address-line-2'] }}
          {{ data['address-town'] }}
          {{ '<br>' | safe if data['address-town'] }}
          {{ data['address-county'] }}
          {{ '<br>' | safe if data['address-county'] }}
          {{ data['address-postcode'] }}
        {% else %}
          72 Guild Street<br>London<br>SE23 6FH
        {% endif %}
      {% endset %}

      {% set contactDetails %}
        {% if data['contact'] == 'Email' %}
          {{ data['contact-by-email'] }}
        {% elif data['contact'] == 'Phone' %}
          {{ data['contact-by-phone'] }}
        {% else %}
          Post
        {% endif %}
      {% endset %}

      {% set niNumber %}
        {% if data['ni-number'] %}
          {% set nino = data['ni-number'] | upper | replace(" ", "")  %}
          {% for item in nino | batch(2) %}
            {% for nino in item -%}
               {{ nino }}
            {%- endfor %}
          {% endfor %}
        {% else %}
          QQ 12 34 56 C
        {% endif %}
      {% endset %}


      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Name'
            },
            value: {
              text: name
            }
          },
          {
            key: {
              text: 'Another name for contacting you'
            },
            value: {
              text: data['name-for-correspondence-check'] or 'No'
            }
          },
          {
            key: {
              text: 'Other name for contact'
            },
            value: {
              html: data['name-for-correspondence']
            }
          } if data['name-for-correspondence-check'] == 'Yes',
          {
            key: {
              text: 'Address'
            },
            value: {
              html: address
            }
          },
          {
            key: {
              text: 'Contact preference'
            },
            value: {
              html: contactDetails
            }
          },
          {
            key: {
              text: 'Notify HMRC'
            },
            value: {
              html: data['notify-hmrc'] or 'No'
            }
          },
          {
            key: {
              text: 'NI number'
            },
            value: {
              html: niNumber
            }
          } if data['notify-hmrc'] == 'Yes'
        ] | cleanArray
      }) }}

    </div>
  </div>
</div>





<div class="page">
  <p class="page-number">Page 3</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m govuk-!-font-size-27">
        Birth registration details
      </h2>

      {% set birthName %}
        {% if data['birth-first-name'] %}
          {{ data['birth-first-name'] + ' ' + data['birth-last-name'] }}
        {% else %}
          Jim Hanson
        {% endif %}
      {% endset %}

      {% set dob %}
        {% if data['dob-day'] %}
          {% set inputdates = data['dob-year'] + "-" + data['dob-month'] + "-" + data['dob-day'] %}
          {{ inputdates | date("DD MMMM YYYY") }}
        {% else %}
          1 June 1987
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Birth name'
            },
            value: {
              text: birthName
            }
          },
          {
            key: {
              text: 'Sex registered at birth'
            },
            value: {
              text: data['sex'] or 'Male'
            }
          },
          {
            key: {
              text: 'Date of birth'
            },
            value: {
              html: dob
            }
          },
          {
            key: {
              text: 'Birth registered in UK'
            },
            value: {
              html: data['uk-check'] or 'Yes'
            }
          },
          {
            key: {
              text: 'Registered birth country'
            },
            value: {
              html: data['country'] or 'Egypt'
            }
          } if data['uk-check'] == 'No',
          {
            key: {
              html: 'Mother&rsquo;s name'
            },
            value: {
              html: data['mothers-first-name'] + ' ' + data['mothers-last-name']
            }
          } if data['uk-check'] != 'No',
          {
            key: {
              html: 'Father&rsquo;s name on certificate'
            },
            value: {
              text: data['fathers-name-check'] or 'No'
            }
          } if data['uk-check'] != 'No',
          {
            key: {
              html: 'Father&rsquo;s name'
            },
            value: {
              text: data['fathers-first-name'] + ' ' + data['fathers-last-name']
            }
          } if data['uk-check'] != 'No' and data['fathers-name-check'] == 'Yes',
          {
            key: {
              text: 'Place of birth'
            },
            value: {
              text: data['place-of-birth'] or 'London'
            }
          },
          {
            key: {
              text: 'Adopted'
            },
            value: {
              html: data['adopted'] or 'No'
            }
          },
          {
            key: {
              text: 'Forces registering service, British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions'
            },
            value: {
              html: data['forces'] or 'No'
            }
          }
        ] | cleanArray
      }) }}




      <h2 class="govuk-heading-m govuk-!-font-size-27">
        Payment details
      </h2>
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-borde/r govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Applying for help'
            },
            value: {
              text: data['help-check'] or 'No'
            }
          },
          {
            key: {
              text: 'Help application type'
            },
            value: {
              text: data['help-type'],
              html: data['help-type'] +'<br>Reference: '+ data['help-online-ref'] if data['help-type'] == 'Using the online service'
            }
          } if data['help-check'] == 'Yes',
          {
            key: {
              text: 'Payment method'
            },
            value: {
              html: data['payment-method'] or 'Credit or debit card'
            }
          } if data['help-check'] != 'Yes'
        ] | cleanArray
      }) }}


    </div>
  </div>
</div>

<div class="page">
  <p class="page-number">Page 4</p>

  <h2 class="govuk-heading-m govuk-!-font-size-27">
    Checklist of documents in support of your application
  </h2>
  <p>This checklist will help you and the Gender Recognition Panel ensure that you have included everything that you are required to submit with your application. Please list every piece of evidence that you are including with your application. We will return documentation to you once it has been checked.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukCheckboxes({
        items: [
          {
            html: 'Statutory declaration'
          },
          {
            html: 'Your spouse&rsquo;s statutory declaration'
          } if data['current-check'] == 'Marriage' and data['stay-together'] == 'Yes',
          {
            html: 'Your civil partner&rsquo;s statutory declaration'
          } if data['current-check'] == 'Civil partnership' and data['stay-together'] == 'Yes',
          {
            html: 'Your original marriage certificate or a certified copy'
          } if data['current-check'] == 'Marriage',
          {
            html: 'Your original civil partnership certificate or a certified copy'
          } if data['current-check'] == 'Civil partnership',
          {
            html: 'A copy of your spouse or civil partner&rsquo;s death certificate'
          } if data['current-check'] == 'Marriage' and data['stay-together'] == 'No',
          {
            html: 'A copy of your spouse or civil partner&rsquo;s death certificate'
          } if data['current-check'] == 'Civil partnership' and data['stay-together'] == 'No',
          {
            html: 'Your original birth certificate or a certified copy'
          },
          {
            html: 'A copy of all change of name documents or other documents to show any changes from the name appearing on your birth certificate to your current name'
          },
          {
            html: 'A medical report that includes details of your gender dysphoria diagnosis'
          },
          {
            html: 'A medical report that includes specific details of your treatment, or planned treatment'
          }
        ] | cleanArray
      }) }}
      {# {
        html: 'A copy of your decree(s) dissolving the marriage or civil partnership'
      }, #}


      {{ govukInput({
        label: {
          html: 'List all evidence of living full time in your acquired gender for at least 2 years prior to the date of application',
          classes: 'govuk-label--s'
        },
        hint: {
          html: 'Everything you provide must be dated and include your name. <br>3 or 4 documents per a year is advised.'
        },
        attributes: {
          style: 'padding: 100px;'
        }
      }) }}


      {{ govukInput({
        label: {
          html: 'List any other letters or documents you have enclosed with your application',
          classes: 'govuk-label--s'
        },
        attributes: {
          style: 'padding: 100px;'
        }
      }) }}

    </div>
  </div>
</div>





<div class="page">
  <p class="page-number">Page 5</p>

  <h2 class="govuk-heading-m govuk-!-font-size-27">
    Declarations
  </h2>
  <p>If your birth was registered in the UK, to process your application, the Gender Recognition Panel needs to pass your details to the relevant Registrar General. Similarly if your marriage or civil partnership was registered in England and Wales or Scotland and you are applying for gender recognition while remaining married or in a civil partnership, then the Panel will need to pass your details onto the appropriate Registrar General.</p>
  <p>If you consent below, the Registrar General will contact you (if your application is successful) to inform you about options for your new birth certificate (and where appropriate a new marriage or civil partnership certificate).</p>
  <p>I consent to the Registrar General contacting me in relation to the issue of a new birth/marriage/civil partnership certificate, as appropriate.</p>
  <p class="govuk-!-margin-bottom-8">I certify that all the information given in this application is correct to the best of my knowledge. I understand that to make a false application is an offence.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukInput({
        label: {
          html: 'Signature',
          classes: 'govuk-label--s'
        },
        attributes: {
          style: 'padding: 60px;'
        }
      }) }}

      {{ govukDateInput({
        fieldset: {
          legend: {
            text: 'Date',
            classes: 'govuk-fieldset__legend--s'
          }
        },
        classes: 'govuk-!-margin-bottom-8',
        items: [
          {
            name: 'day',
            classes: 'govuk-input--width-2'
          },
          {
            name: 'month',
            classes: 'govuk-input--width-2'
          },
          {
            name: 'year',
            classes: 'govuk-input--width-4'
          }
        ]
      }) }}
    </div>
  </div>


  <p class="govuk-!-font-size-14">Section 22 of the Gender Recognition Act 2004 protects the information on your application form and information about your gender history if your application is successful. The data you provide will only be processed as permitted by the Act. It will be processed primarily for the purpose of determining your application (and any related legal proceedings) and for maintaining the Gender Recognition Register. The Guidance Notes to this application form and Explanatory Leaflet contain more information about how your data may be processed. Information about you will not be disclosed except where permitted by law, or where you have consented to it.</p>
  <p class="govuk-!-font-size-14">The Ministry of Justice is the Data Controller for the Gender Recognition Secretariat and Panel for the purposes of the Data Protection Act 1998. If you want to know more about what information we have about you, or the way we use your information, you can find details on the MoJ website www.justice.gov.uk/about/datasharingandprotection.htm</p>
  <p class="govuk-!-font-size-14">The Ministry of Justice and HM Courts and Tribunals Service processes personal information about you in the context of tribunal proceedings. For details of the standards we follow when processing your data, please visit the following address https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter To receive a paper copy of this privacy notice, please call 0300 123 1024 Textphone 18001 0300 123 1024. If calling from Scotland, please call 0300 790 6234 Textphone 18001 0300 790 6234.</p>

</div>


{# <script>
  window.print();
</script> #}
{% endblock %}
