{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../start-application'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Enter security code
        </h1>

        <p>We&rsquo;ve sent a 5 digit security code by text to {{ '*********982' if data['returning'] else (data['text'] or '07700 900 982') }}.</p>

        <p>This can take a few minutes to arrive.</p>

        <p class="govuk-!-margin-bottom-2">If you do not get a text:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>check you have signal</li>
          <li>check you have entered the correct phone number</li>
          <li><a href="#0">resend the text</a></li>
        </ul>

        {{ govukInput({
          id: 'text-code',
          name: 'text-code',
          classes: 'govuk-input--width-5',
          label: {
            html: 'Security code',
            classes: 'govuk-label--m'
          }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
