{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Return to a saved application
        </h1>

        <p>You need your reference number to return to your application.</p>

        <p class="govuk-!-margin-bottom-8">After you put your reference number in, we will send an email or text to confirm it&rsquo;s you.</p>

        {{ govukInput({
          classes: 'govuk-input--width-10',
          label: {
            html: 'What is your reference number?',
            classes: 'govuk-label--m'
          }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
