{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../declaration'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Returning to your application
        </h1>

        <p>You can choose to save your application as you progress. If you do you&rsquo;ll be able to return to it within 90 days of last accessing it.</p>

        <p>You&rsquo;ll need your email address and memorable word if you want to return to your application later. You&rsquo;ll be asked for your memorable word when you return to your application or if you speak to anyone on the phone about your it.</p>

        {{ govukInput({
          id: 'contact-by-email',
          name: 'contact-by-email',
          type: 'email',
          autocomplete: 'email',
          spellcheck: false,
          classes: 'govuk-!-width-three-quarters',
          label: {
            text: 'Email address',
            classes: 'govuk-label--s'
          },
          hint: {
            html: 'We&rsquo;ll send you a link next to confirm that you have access to it'
          }
        }) }}

        {{ govukInput({
          id: 'memorable-word',
          name: 'memorable-word',
          classes: 'govuk-!-width-three-quarters',
          label: {
            html: 'Memorable word',
            classes: 'govuk-label--s'
          },
          hint: {
            html: 'You will not be able to change this later'
          }
        }) }}


        {{ govukButton({
          html: 'Save and continue'
        }) }}

        <p><a class="govuk-link--no-visited-state" href="../task-list?signedin=false">I do not want to save my progress as I go</a></p>

      </form>

    </div>
  </div>
{% endblock %}
