{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check payment details before submitting your application
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Payment method'
            },
            value: {
              html: data['payment-method'] or 'Over the phone'
            },
            actions: {
              items: [
                {
                  href: 'method',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Help type'
            },
            value: {
              text: data['help-type'],
              html: data['help-type'] +'<br>Reference: '+ data['help-online-ref'] if data['help-type'] == 'Using the online service'
            },
            actions: {
              items: [
                {
                  href: 'help-type',
                  text: 'Change'
                }
              ]
            }
          } if data['payment-method'] == 'I am applying for help paying the fee'
        ] | cleanArray
      }) }}


      {% if data['payment-method'] != 'Online' %}
        {{ govukButton({
          text: 'Submit application',
          href: '../confirmation'
        }) }}
      {% else %}
        {{ govukButton({
          text: 'Submit application and pay online',
          href: 'payment-details'
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
