{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'help-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Method of payment
        </h1>

        <p>Applying for a Gender Recognition Certificate costs £5.</p>

        <p>If paying by cheque, phone or postal order, you will be given instructions for how to pay this when you receive your application acknowledgment.</p>

        {{ govukInsetText({
          text: 'If you fail to provide the correct fee, your application will not be processed until the Gender Recognition Panel receives the correct payment.',
          classes: 'govuk-!-margin-bottom-8'
        }) }}


        {{ govukRadios({
          idPrefix: 'payment-method',
          name: 'payment-method',
          classes: '',
          fieldset: {
            legend: {
              text: 'How are you paying the fee?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Cheque',
              value: 'Cheque',
              checked: checked('payment-method','Cheque')
            },
            {
              html: 'Online using a credit or debit card',
              value: 'Online using a credit or debit card',
              checked: checked('payment-method','Online using a credit or debit card')
            },
            {
              html: 'Phone using a credit or debit card',
              value: 'Phone using a credit or debit card',
              checked: checked('payment-method','Phone using a credit or debit card')
            },
            {
              html: 'Postal order',
              value: 'Postal order',
              checked: checked('payment-method','Postal order')
            },
            {
              divider: 'or'
            },
            {
              html: 'I am applying for help paying the fee',
              value: 'I am applying for help paying the fee',
              checked: checked('payment-method','I am applying for help paying the fee')
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
