{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm your payment
      </h1>

      <style>
        .govuk-summary-list__key { font-weight: normal }
        .govuk-summary-list__value { font-weight: bold }
      </style>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Card number:'
            },
            value: {
              text: '************5556'
            }
          },
          {
            key: {
              text: 'Expiry date:'
            },
            value: {
              text: '10/20'
            }
          },
          {
            key: {
              text: 'Name on card:'
            },
            value: {
              text: 'Jane Bloggs'
            }
          },
          {
            key: {
              text: 'Billing address:'
            },
            value: {
              html: '10 Example Street, City, SW1W 0PP, United Kingdom'
            }
          },
          {
            key: {
              text: 'Email:'
            },
            value: {
              html: 'email@test.com'
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: 'Confirm payment',
        href: '../confirmation'
      }) }}

      <p><a href="#0">Cancel payment</a></p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div style="background: #f3f2f1; border: 10px solid #b1b4b6; padding: 15px; max-width: 245px; float:right">
        <h2 class="govuk-heading-m">
          Payment summary
        </h2>
        <p class="govuk-!-font-weight-bold">Gender Recognition Certificate</p>
        <p class="govuk-!-margin-bottom-0">Amount to pay: <br><span class="govuk-!-font-size-36 govuk-!-font-weight-bold">£5</span></p>
      </div>
    </div>
  </div>
{% endblock %}
