{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'previous-names-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% call govukFieldset({
          legend: {
            text: 'Where do you live?',
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

          <p class="govuk-hint">If your application is successful your certificate will be posted to this address.</p>

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: 'address-line-1',
            name: 'address-line-1',
            autocomplete: 'address-line1'
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: 'address-line-2',
            name: 'address-line-2',
            autocomplete: 'address-line2'
          }) }}

          {{ govukInput({
            label: {
              text: 'Town or city'
            },
            classes: 'govuk-!-width-two-thirds',
            id: 'address-town',
            name: 'address-town',
            autocomplete: 'address-level2'
          }) }}

          {{ govukInput({
            label: {
              text: 'Postcode'
            },
            classes: 'govuk-input--width-10',
            id: 'address-postcode',
            name: 'address-postcode',
            autocomplete: 'postal-code'
          }) }}

        {% endcall %}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
