{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'contact-preferences'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">


        <h1 class="govuk-heading-l">
          Contact name
        </h1>

        <p class="govuk-!-margin-bottom-8">For privacy, you may not want us to use the name you want listed on your Gender Recognition Certificate when contacting you.</p>

        {% set correspondenceName %}
          {{ govukInput({
            label: {
              text: 'Full name'
            },
            id: 'correspondence-name',
            name: 'correspondence-name',
            autocomplete: 'name',
            spellcheck: false
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: 'contact-name',
          name: 'contact-name',
          classes: '',
          fieldset: {
            legend: {
              text: 'Do you want us to use a different name?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('contact-name','Yes'),
              conditional: {
                html: correspondenceName
              }
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('contact-name','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
