{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'address'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">Contact preferences</h1>

        {% set emailHtml %}
          {{ govukInput({
            id: 'email',
            name: 'email',
            value: data['email'],
            type: 'email',
            autocomplete: 'email',
            spellcheck: false,
            classes: 'govuk-!-width-three-quarters',
            label: {
              text: 'Email address'
            }
          }) }}
        {% endset -%}

        {% set phoneHtml %}
          {{ govukInput({
            id: 'text',
            name: 'text',
            value: data['text'],
            type: 'tel',
            autocomplete: 'tel',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Phone number'
            }
          }) }}
        {% endset -%}

        {% set address %}
        <p>
          {% if data['address-line-1'] %}
            {{ data['address-line-1'] }},
            {{ data['address-line-2'] }}
            {{ ', ' | safe if data['address-line-2'] }}
            {{ data['address-town'] }}
            {{ ', ' | safe if data['address-town'] }}
            {{ data['address-postcode'] }}
          {% else %}
            72 Guild Street, London, SE23 6FH
          {% endif %}
        </p>
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: 'contact',
          name: 'contact',
          fieldset: {
            legend: {
              text: 'How would you like to be contacted if we have any questions about your application?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              value: 'Email',
              text: 'Email',
              checked: checked('contact','Email'),
              conditional: {
                html: emailHtml
              }
            },
            {
              value: 'Phone',
              text: 'Phone',
              checked: checked('contact','Phone'),
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: 'Post',
              text: 'Post',
              checked: checked('contact','Post'),
              conditional: {
                html: address
              }
            }
          ]
        }) }}

        {{ govukTextarea({
          id: 'contact-dates',
          name: 'contact-dates',
          value: data['contact-dates'],
          rows: '3',
          label: {
            text: 'Are there any dates when you will be unavailable for more than a week over the next six months? (optional)',
            classes: 'govuk-label--m'
          }
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
