{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'name'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Name changes
        </h1>

        <p>If you have ever changed your name from what appears on your birth certificate, you’ll be asked to upload additional documents at the end of the application. </p>

        <p>This is to help match your birth records after your application is accepted.</p>

        <p>You should include documents for each time you have changed your name.</p>

        <p class="govuk-!-margin-bottom-2">These might include:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>deed poll document, either enrolled or unenrolled</li>
          <li>change of name document (Scotland)</li>
          <li>marriage certificate</li>
          <li>civil partnership certificate</li>
        </ul>


        {{ govukRadios({
          idPrefix: 'previous-names-check',
          name: 'previous-names-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Have you ever changed your name?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('previous-names-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('previous-names-check','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
