{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before downloading your application form
      </h1>



      <h2 class="govuk-heading-m">
        Requirements
      </h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Recognised in a country or territory outside the UK'
            },
            value: {
              text: data['overseas-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'eligibility/overseas-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Able to provide 2 medical reports'
            },
            value: {
              html: data['dysphoria-check'] or 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'eligibility/dysphoria-check',
                  text: 'Change'
                }
              ]
            }
          }
        ]
      }) }}
      {# {
        key: {
          text: 'Aged 18 or over'
        },
        value: {
          text: data['age-check'] or 'Yes'
        },
        actions: {
          items: [
            {
              href: 'eligibility/age-check',
              text: 'Change'
            }
          ]
        }
      },

      {
        key: {
          text: 'Lived in afirmed gender for at least 2 years'
        },
        value: {
          html: data['two-years-check'] or 'Yes'
        },
        actions: {
          items: [
            {
              href: 'eligibility/two-years-check',
              text: 'Change'
            }
          ]
        }
      },
      {
        key: {
          text: 'Intend to live fully in your affirmed gender'
        },
        value: {
          html: data['until-death-check'] or 'Yes'
        },
        actions: {
          items: [
            {
              href: 'eligibility/until-death-check',
              text: 'Change'
            }
          ]
        }
      } #}



      {% if data['current-check'] == 'No' %}


        <h2 class="govuk-heading-m">
          Marriage or civil partnership details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Neither'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/current-check',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Spouse or partner has died'
              },
              value: {
                text: data['partner-died'] or 'No'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/partner-died',
                    text: 'Change'
                  }
                ]
              }
            }
          ]
        }) }}


      {% elif  data['current-check'] == 'Civil partnership' %}


        <h2 class="govuk-heading-m">
          Civil partnership details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Civil partnership'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/current-check',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Protected civil partnership'
              },
              value: {
                text: data['protected-civil-partnership'] or 'No'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/protected-civil-partnership',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Partner appling at the same time'
              },
              value: {
                text: data['same-time'] or 'No'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/same-time',
                    text: 'Change'
                  }
                ]
              }
            } if data['protected-civil-partnership'] == 'Yes, a protected Scottish civil partnership',
            {
              key: {
                text: 'Remain in civil partnership'
              },
              value: {
                text: data['stay-together'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/stay-together',
                    text: 'Change'
                  }
                ]
              }
            } if data['protected-civil-partnership'] == 'Yes, registered in England, Wales, Northern Ireland or outside of the UK',
            {
              key: {
                text: 'Interim GRC'
              },
              value: {
                text: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/interim-check',
                    text: 'Change'
                  }
                ]
              }
            } if data['protected-civil-partnership'] == 'No' or data['stay-together'] == 'No' or data['same-time'] == 'No'
          ] | cleanArray
        }) }}


      {% else %}


        <h2 class="govuk-heading-m">
          Marriage details
        </h2>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: 'Currently married or in a civil partnership'
              },
              value: {
                text: 'Married'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/current-check',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Protected marriage'
              },
              value: {
                text: data['protected-marriage'] or 'No'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/protected-marriage',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Remain married'
              },
              value: {
                text: data['stay-together'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/stay-together',
                    text: 'Change'
                  }
                ]
              }
            } if data['protected-marriage'] == 'Yes',
            {
              key: {
                text: 'Interim GRC'
              },
              value: {
                text: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'marriage-civil-partnership/interim-check',
                    text: 'Change'
                  }
                ]
              }
            } if data['protected-marriage'] == 'No' or data['stay-together'] == 'No'
          ] | cleanArray
        }) }}


      {% endif %}





      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      {% set name %}
        {% if data['first-name'] %}
          {{ data['first-name'] + ' ' + data['last-name'] }}
        {% else %}
          Rosie Armstrong
        {% endif %}
      {% endset %}

      {% set address %}
        {% if data['address-line-1'] %}
          {{ data['address-line-1'] }}<br>
          {{ data['address-line-2'] }}
          {{ '<br>' | safe if data['address-line-2'] }}
          {{ data['address-town'] }}
          {{ '<br>' | safe if data['address-town'] }}
          {{ data['address-county'] }}
          {{ '<br>' | safe if data['address-county'] }}
          {{ data['address-postcode'] }}
        {% else %}
          72 Guild Street<br>London<br>SE23 6FH
        {% endif %}
      {% endset %}

      {% set contactDetails %}
        {% if data['contact'] == 'Email' %}
          {{ data['contact-by-email'] }}
        {% elif data['contact'] == 'Phone' %}
          {{ data['contact-by-phone'] }}
        {% else %}
          Post
        {% endif %}
      {% endset %}

      {% set niNumber %}
        {% if data['ni-number'] %}
          {% set nino = data['ni-number'] | upper | replace(" ", "")  %}
          {% for item in nino | batch(2) %}
            {% for nino in item -%}
               {{ nino }}
            {%- endfor %}
          {% endfor %}
        {% else %}
          QQ 12 34 56 C
        {% endif %}
      {% endset %}


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Name'
            },
            value: {
              text: name
            },
            actions: {
              items: [
                {
                  href: 'personal/name',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Another name for contacting you'
            },
            value: {
              text: data['name-for-correspondence-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'personal/name-for-correspondence-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Other name for contact'
            },
            value: {
              html: data['name-for-correspondence']
            },
            actions: {
              items: [
                {
                  href: 'personal/name-for-correspondence',
                  text: 'Change'
                }
              ]
            }
          } if data['name-for-correspondence-check'] == 'Yes',
          {
            key: {
              text: 'Address'
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: 'personal/address',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Contact preference'
            },
            value: {
              html: contactDetails
            },
            actions: {
              items: [
                {
                  href: 'personal/contact-preferences',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Notify HMRC'
            },
            value: {
              html: data['notify-hmrc'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'personal/hmrc',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'NI number'
            },
            value: {
              html: niNumber
            },
            actions: {
              items: [
                {
                  href: 'personal/ni-number',
                  text: 'Change'
                }
              ]
            }
          } if data['notify-hmrc'] == 'Yes'
        ] | cleanArray
      }) }}





      <h2 class="govuk-heading-m">
        Birth registration details
      </h2>

      {% set birthName %}
        {% if data['birth-first-name'] %}
          {{ data['birth-first-name'] + ' ' + data['birth-last-name'] }}
        {% else %}
          Jim Hanson
        {% endif %}
      {% endset %}

      {% set dob %}
        {% if data['dob-day'] %}
          {% set inputdates = data['dob-year'] + "-" + data['dob-month'] + "-" + data['dob-day'] %}
          {{ inputdates | date("DD MMMM YYYY") }}
        {% else %}
          1 June 1987
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Birth name'
            },
            value: {
              text: birthName
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/age-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Sex registered at birth'
            },
            value: {
              text: data['sex'] or 'Male'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/sex',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Date of birth'
            },
            value: {
              html: dob
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/dob',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Birth registered in UK'
            },
            value: {
              html: data['uk-check'] or 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/uk-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Registered birth country'
            },
            value: {
              html: data['country'] or 'Egypt'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/country',
                  text: 'Change'
                }
              ]
            }
          } if data['uk-check'] == 'No',
          {
            key: {
              html: 'Mother&rsquo;s name'
            },
            value: {
              html: data['mothers-first-name'] + ' ' + data['mothers-last-name']
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/mothers-name',
                  text: 'Change'
                }
              ]
            }
          } if data['uk-check'] != 'No',
          {
            key: {
              html: 'Father&rsquo;s name on certificate'
            },
            value: {
              text: data['fathers-name-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/fathers-name-check',
                  text: 'Change'
                }
              ]
            }
          } if data['uk-check'] != 'No',
          {
            key: {
              html: 'Father&rsquo;s name'
            },
            value: {
              text: data['fathers-first-name'] + ' ' + data['fathers-last-name']
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/fathers-name',
                  text: 'Change'
                }
              ]
            }
          } if data['uk-check'] != 'No' and data['fathers-name-check'] == 'Yes',
          {
            key: {
              text: 'Place of birth'
            },
            value: {
              text: data['place-of-birth'] or 'London'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/place-of-birth',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Adopted'
            },
            value: {
              html: data['adopted'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/adopted',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Forces registering service, British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions'
            },
            value: {
              html: data['forces'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'birth-adoption/forces',
                  text: 'Change'
                }
              ]
            }
          }
        ] | cleanArray
      }) }}




      <h2 class="govuk-heading-m">
        Payment details
      </h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Applying for help'
            },
            value: {
              text: data['help-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'payment/help-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Help application type'
            },
            value: {
              text: data['help-type'],
              html: data['help-type'] +'<br>Reference: '+ data['help-online-ref'] if data['help-type'] == 'Using the online service'
            },
            actions: {
              items: [
                {
                  href: 'payment/help-type',
                  text: 'Change'
                }
              ]
            }
          } if data['help-check'] == 'Yes',
          {
            key: {
              text: 'Payment method'
            },
            value: {
              html: data['payment-method'] or 'Credit or debit card'
            },
            actions: {
              items: [
                {
                  href: 'payment/payment-method',
                  text: 'Change'
                }
              ]
            }
          } if data['help-check'] != 'Yes'
        ] | cleanArray
      }) }}







      <h2 class="govuk-heading-m">Next steps</h2>

      <p>When you are happy with your application details, you can generate a filled-in application form. Print this form, then sign it, and post it with your medical reports, declarations and any evidence to support your application.</p>

      {{ govukButton({
        text: 'Generate application form',
        href: 'generating'
      }) }}

    </div>
  </div>
{% endblock %}
