{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Download your application form
      </h1>

      <p>The application form includes a checklist for each document that you need to provide with your application.</p>

      <h2 class="govuk-heading-m">Next steps</h2>

      <p class="govuk-!-margin-bottom-2">You should now:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--space/d">
        <li><a <a href="/public/images/completed-grc-application-form.pdf" download="/public/images/completed-grc-application-form.pdf">save and then print your application form (PDF, 19.5 KB)</a></li>
        <li>sign and date the form to verify the information is correct</li>
        <li>post your application form alongside any documents to us in one envelope</li>
      </ul>

      <p class="govuk-!-margin-bottom-2">Send this to:</p>
      <p>Gender Recognition Panel <br>
      PO Box 9300 <br>
      Leicester <br>
      LE1 8DJ</p>

      <p>You should include your fee if you are paying via cheque or postal order.</p>

      <h2 class="govuk-heading-m">Next steps</h2>

      <p>Your application will be reviewed by the Gender Recognition Panel. They may contact you if they require more information.</p>

      <p>You will then be told if you will be issued with a Gender Recognition Certificate.</p>

      <p>If your application is unsuccessful, you will be told how you can reapply or appeal the decision.</p>

      <p class="govuk-!-margin-bottom-8">Decisions take around 12 weeks on average.</p>

      <p><a href="#0">What did you think of this service?</a> (takes 30 seconds)</p>





      {# <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Form complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div> #}

      {# {% set html %}
      <section class="gem-c-attachment">
        <div class="gem-c-attachment__thumbnail">
          <a target="_self" tabindex="-1" aria-hidden="true"
            href="/images/contract.pdf">
            <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140"
              aria-hidden="true">
              <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z"stroke-width="0"></path>
            </svg>
          </a>
        </div>

        <div class="gem-c-attachment__details">
          <h2 class="gem-c-attachment__title">
            <a class="govuk-link gem-c-attachment__link" target="_self"
              href="#0">{{ data['first-name'] }} {{ data['last-name'] }}: application for a  Gender Recognition Certificate</a>
          </h2>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute"><abbr title="Portable Document Format"
                class="gem-c-attachment__abbr">PDF</abbr></span>,
            <span class="gem-c-attachment__attribute">19.5 KB</span>
          </p>

        </div>
      </section>
      {% endset %}

      {{ govukNotificationBanner({
        titleHtml: 'Application form ready to download',
        titleHeadingLevel: '1',
        html: html,
        type: 'success'
      }) }}

      <p>You should save and print your application form.</p>


      <h2 class="govuk-heading-m">Next steps</h2>
      <p>It is necessary to sign and date your application to verify that all the information that you have given is, to the best of your knowledge, true. It is an offence to apply fraudulently for a Gender Recognition Certificate.</p>
      <p>A checklist is provided to help you ensure that you have remembered to include everything and to enable you to keep a record of all the documents you send. Please place all documentation, including the application form and cheque, if applicable, into one envelope and post it to the address supplied.</p>



      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p> #}


    </div>
  </div>

{% endblock %}
