{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Upload name change documents
      </h1>

      <p>This is where you can provide any change of name documents if your name is different from what appears on your birth certificate. </p>

      <p class="govuk-!-margin-bottom-8">If you have changed your name more than once, you will need to provide documents for each name change.</p>

      <form method="post">

        {% set uploadHtml %}
          {{ govukFileUpload({
            id: "medical-reports",
            name: "medical-reports",
            classes: 'moj-multi-file-upload__input',
            label: {
              text: "Upload files",
              classes: 'govuk-label--m'
            },
            hint: {
              text: 'The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB'
            },
            attributes: { multiple: '' }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary moj-multi-file-upload__button'
          })}}
        {% endset %}

        {{ mojMultiFileUpload({
          uploadedFiles: {
            heading: { text: 'Files added' },
            items: uploadedFiles
          },
          uploadHtml: uploadHtml
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
