{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../start-application'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukNotificationBanner({
          html: '<h3 class="govuk-notification-banner__heading">Email resent</h3><p>We&rsquo;ve resent you a security code. This can take a few minutes to arrive.</p>',
          type: 'success',
          classes: 'js-banner',
          attributes: {
            style: 'display:none'
          }
        }) }}

        <h1 class="govuk-heading-l">
          Enter security code
        </h1>


        <p>We&rsquo;ve sent a security code to {{ data['email'] or 'example@email.com' }}.</p>

        <p>This can take a few minutes to arrive.</p>

        <p class="govuk-!-margin-bottom-2">If you do not get an email:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check your spam or junk folder</li>
          <li>check you have entered the correct email</li>
        </ul>
        <p class="govuk-!-margin-bottom-8">If it&rsquo;s still not there, we can <a href="#0" class="js-link">resend the email</a>.</p>




        {{ govukInput({
          id: 'security-code',
          name: 'security-code',
          classes: 'govuk-input--width-5',
          label: {
            html: 'Security code',
            classes: 'govuk-label--m'
          }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    $('.js-link').click(function() {
      $('.js-banner').show();
    });
  </script>
{% endblock %}
