{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'contact-preferences'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Notifying HMRC
        </h1>

        <p>HMRC must be told if you have received a Gender Recognition Certificate.</p>

        <p>This is so they can update your tax, tax credit and benefit records.</p>

        <p>We can tell them on your behalf, otherwise <a href="https://www.gov.uk/tell-hmrc-change-of-details/gender-change" rel="noreferrer noopener" target="_blank">you will need to send your Gender Recognition Certificate and National Insurance number to them yourself (opens in new tab)</a>.</p>

        <p class="govuk-!-margin-bottom-8">You will have to do this if you pay tax in the Isle of Man or Channel Islands as we can only pass information to UK authorities.</p>

        {% set nino %}
        {{ govukInput({
          id: 'ni-number',
          name: 'ni-number',
          value: data['ni-number'],
          classes: 'govuk-input--width-10',
          label: {
            html: 'National Insurance number',
            classes: 'govuk-label--s'
          },
          hint: {
            html: '<p class="govuk-hint">It&rsquo;s on your National Insurance card, benefit letter, payslip or P60. For example, &lsquo;QQ 12 34 56 C&rsquo;.</p>'
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: 'notify-hmrc',
          name: 'notify-hmrc',
          classes: '',
          fieldset: {
            legend: {
              text: 'Would you like us to tell HMRC after you receive a Gender Recognition Certificate?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('notify-hmrc','Yes'),
              conditional: {
                html: nino
              }
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('notify-hmrc','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
