{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'name'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% set correspondenceName %}
          {{ govukInput({
            label: {
              text: 'Full name'
            },
            id: 'correspondence-name',
            name: 'correspondence-name',
            autocomplete: 'name',
            spellcheck: false
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: 'name-for-correspondence-check',
          name: 'name-for-correspondence-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Do you want us to use a different name when contacting you?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('name-for-correspondence-check','Yes'),
              conditional: {
                html: correspondenceName
              }
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('name-for-correspondence-check','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
