{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Living in your gender
      </h1>

      <p>This is where you can upload evidence that you&rsquo;ve lived in your affirmed gender for the 2 years before your application.</p>

      <p class="govuk-!-margin-bottom-2">You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload a maximum of 8 documents &ndash; try to provide 4 from each year</li>
        <li>make sure all documents are dated and include your name</li>
        <li>try to include documents that are dated throughout the year</li>
      </ul>

      <p class="govuk-!-margin-bottom-2">Examples of what you could provide:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>driving licence</li>
        <li>passport</li>
        <li>payslips, P60 or P45</li>
        <li>benefits or tax letters and documents</li>
        <li>bank statements and utility bills</li>
        <li>letters from official, professional or business organisations like solicitors, accountants, dentists, doctors and employers</li>
        <li>academic certificates or documentation</li>
        <li>health care or identity cards including photo ID issued by an official organisation</li>
      </ul>


      <form method="post">

        {% set uploadHtml %}
          {{ govukFileUpload({
            id: "medical-reports",
            name: "medical-reports",
            classes: 'moj-multi-file-upload__input',
            label: {
              text: "Upload files",
              classes: 'govuk-label--m'
            },
            hint: {
              text: 'The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB'
            },
            attributes: { multiple: '' }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary moj-multi-file-upload__button'
          })}}
        {% endset %}

        {{ mojMultiFileUpload({
          uploadedFiles: {
            heading: { text: 'Files added' },
            items: uploadedFiles
          },
          uploadHtml: uploadHtml
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
