{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Upload evidence of living in your gender
      </h1>

      <p>You’ll need copies of evidence to show that you’ve been living in your gender for the last 2 years.</p>

      <p class="govuk-!-margin-bottom-2">There are no specific requirements for this evidence, but try to find:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>evidence from different points over the 2 years, with roughly 4 pieces of evidence from each year</li>
        <li>at least one piece of recent evidence</li>
        <li>evidence from a variety of different sources</li>
      </ul>
      
      <p>The evidence can come from before you were diagnosed with gender dysphoria.</p>

      <p class="govuk-!-margin-bottom-2">Examples of what you can upload include:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>your driving licence</li>
        <li>your passport</li>
        <li>identity cards, like workplace IDs, railcards, health insurance cards, library cards or supermarket loyalty cards</li>
        <li>letters from solicitors, accountants, doctors, dentists or employers</li>
        <li>bank statements</li>
        <li>payslips, P60s and P45s</li>
        <li>benefit letters</li>
        <li>tax letters and documents, including council tax</li>
        <li>utility bills, such as internet bills</li>
        <li>rental agreements</li>
        <li>academic certificates and documents</li>
      </ul>
      
      <p>You might be asked to send in more evidence after you submit your application.</p>


      <form method="post">

        {% set uploadHtml %}
          {{ govukFileUpload({
            id: "medical-reports",
            name: "medical-reports",
            classes: 'moj-multi-file-upload__input',
            label: {
              text: "Upload files",
              classes: 'govuk-label--m'
            },
            hint: {
              text: 'The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB'
            },
            attributes: { multiple: '' }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary moj-multi-file-upload__button'
          })}}
        {% endset %}

        {{ mojMultiFileUpload({
          uploadedFiles: {
            heading: { text: 'Files added' },
            items: uploadedFiles
          },
          uploadHtml: uploadHtml
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
