{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply for a Gender Recognition Certificate using this service
      </h1>

      <p>You must be able to provide a medical report detailing your diagnosis of gender dysphoria to apply for a Gender Recognition Certificate online.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Alternative route to apply for a Gender Recognition Certificate
      </h2>

      <p>If you do not have a medical report that details your gender dysphoria diagnosis, you may still be able to apply for a Gender Recognition Certificate through the alternative route.</p>

      <p>You can apply through this route if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you&rsquo;re 18 or over</li>
        <li>you have a medical report that shows you have had surgery to change your sexual characteristics, or have gender dysphoria </li>
        <li>you mostly live in England, Wales, Northern Ireland or Scotland </li>
        <li>you intend to live in your acquired gender for the rest of your life</li>
        <li>you entered a marriage or civil partnership in England or Wales before 10 December 2014, in Scotland before 16 December 2014, or in Northern Ireland before 13 January 2020</li>
        <li>you&rsquo;ve lived in your acquired gender for at least 6 years before those dates</li>
      </ul>

      <p>You will need to post your application to us if you apply through this route. </p>


      <p><a href="https://grc-prototypes.herokuapp.com/eligibility/v3/dysphoria-no#0">Find out how to apply through the alternative route</a>.</p>


    </div>
  </div>
{% endblock %}
