{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'current-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukRadios({
          idPrefix: 'partner-died',
          name: 'partner-died',
          classes: '',
          fieldset: {
            legend: {
              text: 'Were you previously married or in a civil partnership, but your spouse or partner has died?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            text: 'If you select yes you will need to provide us with a copy of their death certificate'
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('partner-died','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('partner-died','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
