{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'protected-civil-partnership'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Applying at the same time as your partner
        </h1>

        <p>As your civil partnership was registered in Scotland it is possible for 2 partners to apply for a Gender Recognition Certificate at the same time.</p>

        <p class="govuk-!-margin-bottom-8">If successful you can be granted your full certificates together without the need to first end your civil partnership.</p>

        {{ govukRadios({
          idPrefix: 'same-time',
          name: 'same-time',
          classes: '',
          fieldset: {
            legend: {
              text: 'Are you and your partner applying for gender recognition at the same time?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('same-time','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('same-time','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
