{% extends "layout.html" %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'start-application'
  }) }}
{% endblock %} #}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ 'Email address confirmed' if data['return-choice'] == 'Email' else 'Mobile number confirmed' }}
      </h1>

      <p>Your application will now be saved automatically as you progress.</p>

      <p>You will need your reference number and {{ data['return-choice'] | lower or 'email' }} if you want to return to your application later.</p>

      {{ govukInsetText({
        html: '<p>Your reference number is: <br><span class="callout__title">5BKQ-V2V0</span></p>',
        classes: 'callout'
      }) }}


      {{ govukButton({
        html: 'Continue',
        href: 'overseas-check'
      }) }}

    </div>
  </div>
{% endblock %}
