{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Check your answers: </span>
          Your personal details
      </h1>

      {% set name %}
        {% if data['first-name'] %}
          {{ data['first-name'] + ' ' + data['last-name'] }}
        {% else %}
          Rosie Armstrong
        {% endif %}
      {% endset %}

      {% set address %}
        {% if data['address-line-1'] %}
          {{ data['address-line-1'] }}<br>
          {{ data['address-line-2'] }}
          {{ '<br>' | safe if data['address-line-2'] }}
          {{ data['address-town'] }}
          {{ '<br>' | safe if data['address-town'] }}
          {{ data['address-county'] }}
          {{ '<br>' | safe if data['address-county'] }}
          {{ data['address-postcode'] }}
        {% else %}
          72 Guild Street<br>London<br>SE23 6FH
        {% endif %}
      {% endset %}

      {% set contactDetails %}
        {% if data['contact'] == 'Email' %}
          {{ data['contact-by-email'] }}
        {% elif data['contact'] == 'Phone' %}
          {{ data['contact-by-phone'] }}
        {% else %}
          Post
        {% endif %}
      {% endset %}

      {% set niNumber %}
        {% if data['ni-number'] %}
          {% set nino = data['ni-number'] | upper | replace(" ", "")  %}
          {% for item in nino | batch(2) %}
            {% for nino in item -%}
               {{ nino }}
            {%- endfor %}
          {% endfor %}
        {% else %}
          QQ 12 34 56 C
        {% endif %}
      {% endset %}


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: 'Name'
            },
            value: {
              text: name
            },
            actions: {
              items: [
                {
                  href: 'name',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Changed name'
            },
            value: {
              text: data['previous-names-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'previous-names-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Another name for contacting you'
            },
            value: {
              text: data['name-for-correspondence-check'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'name-for-correspondence-check',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Other name for contact'
            },
            value: {
              html: data['name-for-correspondence']
            },
            actions: {
              items: [
                {
                  href: 'name-for-correspondence',
                  text: 'Change'
                }
              ]
            }
          } if data['name-for-correspondence-check'] == 'Yes',
          {
            key: {
              text: 'Address'
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: 'address',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Contact preference'
            },
            value: {
              html: contactDetails
            },
            actions: {
              items: [
                {
                  href: 'contact-preferences',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'Notify HMRC'
            },
            value: {
              html: data['notify-hmrc'] or 'No'
            },
            actions: {
              items: [
                {
                  href: 'hmrc',
                  text: 'Change'
                }
              ]
            }
          },
          {
            key: {
              text: 'NI number'
            },
            value: {
              html: niNumber
            },
            actions: {
              items: [
                {
                  href: 'ni-number',
                  text: 'Change'
                }
              ]
            }
          } if data['notify-hmrc'] == 'Yes'
        ] | cleanArray
      }) }}


      {{ govukButton({
        text: 'Continue',
        href: 'personal-complete'
      }) }}

    </div>
  </div>
{% endblock %}
