{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'name-for-correspondence-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% call govukFieldset({
          legend: {
            text: 'What name would you like us to use when contacting you?',
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            id: 'first-name-correspondence',
            name: 'first-name-correspondence',
            value: data['first-name-correspondence'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'First name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

          {{ govukInput({
            id: 'last-name-correspondence',
            name: 'last-name-correspondence',
            value: data['last-name-correspondence'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'Last name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

        {% endcall %}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
