{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'name'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukRadios({
          idPrefix: 'previous-names-check',
          name: 'previous-names-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Have you changed your name from the name that appears on your birth certificate?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            html: 'If you select yes, you&rsquo;ll need to provide a copy of all change of name documents or other documents to show any changes from the name appearing on your birth certificate to your current name.'
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('previous-names-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('previous-names-check','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
