{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Eligibility checker
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>We want to explore if a flow before the application process could help with understanding options and requirements, based on the <a href="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/">&lsquo;Check a service is suitable&rsquo; pattern</a>.</p>

      <p>We will route the user to the correct track and tell them what questions to expect as well as what evidence will be required. </p>

      <h2 class="govuk-heading-m">
        Version 3
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <p>The decision was made to not include the alternative track in the private beta and to review at a later date if it was worth adding (it currently accounts for 0.3% of applications).</p>

      <p class="govuk-!-margin-bottom-2">Other changes made:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Change</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p class="govuk-hint">Not researched yet.</p>
      {# <p><a href="#0">View user research report</a>.<p> #}

      {{ govukButton({
        text: 'View prototype',
        href: 'v3/start'
      }) }}




      {% set v3Pages %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v3/start">Start page</a>
          </li>
          <li class="govuk-!-font-weight-bold">
            Questions
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v3/age-check">Age check</a></li>
              <li><a href="v3/overseas-check">Overseas check</a></li>
              <li><a href="v3/overseas-approved-check">Overseas approved list check</a></li>
              <li><a href="v3/dysphoria-check">Dysphoria check</a></li>
              <li><a href="v3/two-years-check">Two years check</a></li>
              <li><a href="v3/until-death-check">Until death check</a></li>
              <li>Married check</li>
            </ul>
          </li>

          <li class="govuk-!-font-weight-bold">
            Exit pages
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v3/not-old-enough">Age no</a></li>
              <li><a href="v3/dysphoria-no">Dysphoria no / alt track</a></li>
              <li><a href="v3/two-years-no">Two years no</a></li>
              <li><a href="v3/until-death-no">Until death no</a></li>

              <li><a href="v3/overseas-track">Overseas track start</a></li>
              <li><a href="v3/standard-track">Standard track start</a></li>
            </ul>
          </li>

          <li>Declaration</li>
          <li>Task list</li>
        </ul>
      {% endset %} {# /v3Pages #}
      {{ govukDetails({
        summaryText: 'Links to all pages',
        html: v3Pages
      }) }}






      {% set v2 %}
        <p>A more complex flow that guides the user to the standard or alternative track based on the requirements.</p>

        {{ govukInsetText({
          text: 'This version was not researched with users, it was used by the team to explore the idea. v3 was the first testable version.'
        }) }}

        {{ govukButton({
          text: 'View prototype',
          href: 'v2/start'
        }) }}
      {% endset %} {# /v2 #}

      {% set v1 %}
        <p>A simplified eligibility check that still relies on the user being able to choose between the standard and alternative tracks. </p>

        {{ govukInsetText({
          text: 'This version was not researched with users, it was used by the team to explore the idea. v3 was the first testable version.'
        }) }}

        {{ govukButton({
          text: 'View prototype',
          href: 'v1/start'
        }) }}
      {% endset %} {# /v1 #}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
