{% extends "layout.html" %}
{% set mainClasses = "guide" %}

{% block beforeContent %}
  {% include "./_breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Apply for a Gender Recognition Certificate
        </h1>
      </div>

      <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="overview">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="who-can-apply">Who can apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="what-it-means">What it means to legally change your gender</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="documents-needed">Documents you need to provide</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
              Apply for a Gender Recognition Certificate
            </li>
          </ol>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds" id="guide-contents">
      <h1 class="part-title">
        Apply for a Gender Recognition Certificate
      </h1>

      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">

        <p>You can use this service to apply for a Gender Recognition Certificate online. </p>

        <p>It will guide you through the information you need to provide and the documents you need to upload.</p>

        <p>It takes approximately 30 minutes to complete.




        <h2>
          Before you apply
        </h2>

        <p>You should:</p>

        <ul>
          <li>have the correct documents</li>
          <li>have collected evidence that you’ve been living in your acquired gender</li>
          <li>have your birth or adoption certificate to refer to</li>
          <li>be able to pay the application fee</li>
        </ul>




        <h2>
          Next steps
        </h2>

        <p>After you apply, the documents you’ve uploaded and supplied will be reviewed by the Gender Recognition Panel. </p>

        <p>You will then be told if you will be issued with a Gender Recognition Certificate, and what you can do if your application has not be accepted.</p>

        <p>Decisions take around 12 weeks on average.</p>

      </div>

      {{ govukButton({
        text: 'Apply for a Gender Recognition Certificate',
        href: '#0',
        isStartButton: true
      }) }}

      {{ govukPagination({
        previous: {
          href: 'documents-needed',
          text: 'Documents you need to provide'
        }
      }) }}

      <div class="gem-c-print-link govuk-!-display-none-print gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        <a class="gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" role="button" href="/apply-gender-recognition-certificate/print">Print entire guide</a>
      </div>
    </div>

    {% include "./_related-content.html" %}

  </div>
{% endblock %}
