{% extends "layout.html" %}
{% set mainClasses = "guide" %}

{% block beforeContent %}
  {% include "./_breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Apply for a Gender Recognition Certificate
        </h1>
      </div>

      <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="overview">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="who-can-apply">Who can apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active gem-c-contents-list__list-item--active">
              What it means to legally change your gender
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="documents-needed">Documents you need to provide</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="apply">Apply for a Gender Recognition Certificate</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds" id="guide-contents">
      <h1 class="part-title">
        What it means to legally change your gender
      </h1>

      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">

        <p>The law sometimes treats genders differently.</p>

        <p>Although you don’t need a Gender Recognition Certificate to change your driving licence or passport or have your gender recognised by some government departments, this is not legal recognition.</p>

        <p>A Gender Recognition Certificate will:</p>
        <ul>
          <li>allow you to get a new birth certificate that shows your affirmed gender</li>
          <li>allow HMRC to change your gender in its records</li>
        </ul>



        <h2>
          Changes to pensions
        </h2>

        <p>You legally have to tell HMRC if you have received a Gender Recognition Certificate. You can ask us to do this during the application process, or you can tell them yourself after you receive your certificate.</p>

        <p>Depending on when you were born, changing your gender might affect your State Pension age. <a href="https://www.gov.uk/state-pension-age">Check your State Pension age</a>.</p>

        <p>A change in gender could also affect other pensions such as war pensions or workplace pensions and any pension your spouse or civil partner may receive based on your earnings or National Insurance contributions.</p>

        <p>You should speak to the providers of any pensions so they can tell you if receiving a Gender Recognition Certificate changes anything.</p>



        <h2>
          Marriages and civil partnerships
        </h2>

        <p>If you are in a marriage or civil partnership and your spouse or civil partner does not consent to it continuing after you receive a Gender Recognition Certificate, you will have to end your marriage or civil partnership. </p>

        <p>If you were married or entered into a civil partnership outside the UK, you should consider whether a legal gender change will have an impact on your marriage or civil partnership in that country.</p>



        <h2>
          Children
        </h2>

        <p>Receiving a Gender Recognition Certificate does not affect your legal status as a father or mother if you have children.</p>

        <p>Your rights and responsibilities as a parent are not affected.</p>



        <h2>
          If you chose to revert to your birth gender
        </h2>

        <p>If you want to legally change your gender back to your birth gender then you will have to apply for a Gender Recognition Certificate following the same process again.</p>

      </div>

      {{ govukPagination({
        previous: {
          href: 'who-can-apply',
          text: 'Who can apply'
        },
        next: {
          href: 'documents-needed',
          text: 'Documents you need to provide'
        }
      }) }}

      {# <div class="gem-c-print-link govuk-!-display-none-print gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        <a class="gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" role="button" href="/apply-gender-recognition-certificate/print">Print entire guide</a>
      </div> #}
    </div>

    {% include "./_related-content.html" %}

  </div>
{% endblock %}
