{% extends "layout.html" %}
{% set mainClasses = "guide" %}

{% block header %}
  {% include "../_includes/govuk-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "../_includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Apply for a Gender Recognition Certificate
        </h1>
      </div>

      <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="overview">Overview</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active gem-c-contents-list__list-item--active">
              Who can apply
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="what-it-means">What it means to legally change your gender</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="documents-needed">Documents you need to provide</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link" href="apply">Apply for a Gender Recognition Certificate</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds" id="guide-contents">
      <h1 class="part-title">
        Who can apply
      </h1>

      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">

        <p>You can apply for a Gender Recognition Certificate if you:<p>
        <ul>
          <li>are 18 or over</li>
          <li>have been diagnosed with gender dysphoria </li>
          <li>are living in your affirmed gender and have been for at least 2 years</li>
          <li>you intend to live in your affirmed gender for the rest of your life</li>
        </ul>

        <p>You will be asked to provide documentation that shows you meet these requirements during your application.</p>

        <p>You do not need to have had surgery to change your sexual characteristics to apply for a Gender Recognition Certificate, but you will need to tell us why you have not.</p>

      </div>

      {{ govukPagination({
        previous: {
          href: 'overview',
          text: 'Overview'
        },
        next: {
          href: 'what-it-means',
          text: 'What it means to legally change your gender'
        }
      }) }}

      {% include "../_includes/explore-topic.html" %}
    </div>

    {% include "../_includes/related-content.html" %}

  </div>
{% endblock %}
