{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'place-of-birth'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% call govukFieldset({
          legend: {
            html: 'What is your mother&rsquo;s name as listed on your birth or adoption certificate? ',
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            id: 'mothers-first-name',
            name: 'mothers-first-name',
            value: data['mothers-first-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'First name',
              classes: 'govuk-label--/l'
            }
          }) }}

          {{ govukInput({
            id: 'mothers-last-name',
            name: 'mothers-last-name',
            value: data['mothers-last-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'Last name',
              classes: 'govuk-label--/l'
            }
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
