{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% call govukFieldset({
          legend: {
            text: 'What name is on your birth or adoption certificate?',
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            id: 'birth-first-name',
            name: 'birth-first-name',
            value: data['birth-first-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'First name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

          {{ govukInput({
            id: 'birth-last-name',
            name: 'birth-last-name',
            value: data['birth-last-name'],
            classes: 'govuk-!-width-three-quarters',
            hint: {
              text: 'If there is no last name on the certificate, use the last name of a parent or adoptive parent.'
            },
            label: {
              html: 'Last name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
