{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Upload name change documents
      </h1>

      <p>This is where you can provide any change of name documents if your name is different from what appears on your birth certificate. </p>

      {% if data['name-change-started'] == 'true' %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Document 1'
              },
              value: {
                text: data['name-change'] or 'deed-poll.pdf'
              },
              actions: {
                items: [
                  {
                    href: 'upload?name-change-started=false',
                    text: 'Remove'
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <form method="post">

        {{ govukFileUpload({
          id: 'name-change',
          name: 'name-change',
          value: data['name-change'],
          label: {
            text: 'Select a file to upload',
            classes: 'govuk-label--m'
          },
          hint: {
            text: 'The file must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB'
          }
        }) }}

        {{ govukButton({
          html: 'Upload file',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-8'
        }) }}

      </form>

      <div class="govuk-button-group">
        {{ govukButton({
          html: 'Save and continue',
          href: 'name-change-complete'
        }) }}
        <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>

    </div>
  </div>
{% endblock %}
