.guide {
  padding-top: 0;
}

.guide .part-navigation-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b1b4b6;
}
@media (min-width: 40.0625em) {
  .guide .part-navigation-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
}

.guide .part-navigation {
  margin-left: 0;
}
@media (max-width: 40.0525em) {
  .guide .part-navigation {
    margin-left: 5px;
  }
}

.guide .part-title {
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1111111111;
  margin-bottom: 15px;
  margin-top: 15px;
}
@media print {
  .guide .part-title {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .guide .part-title {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}
@media print {
  .guide .part-title {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .guide .part-title {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.guide .add-title-margin {
  margin-top: 15px;
}
@media (min-width: 40.0625em) {
  .guide .add-title-margin {
    margin-top: 50px;
  }
}

.guide .part-navigation li {
  list-style: decimal;
  margin-left: 1.5em;
  padding-left: 0.3em;
}

.guide .govuk-govspeak h2 {
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1111111111;
}
@media print {
  .guide .govuk-govspeak h2 {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .guide .govuk-govspeak h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media print {
  .guide .govuk-govspeak h2 {
    font-size: 18pt;
    line-height: 1.15;
  }
}
