{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Application
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>We want to explore if a an online form is an improvement to the current paper based version. A digital journey would mean we know more about the application and we think we can improve the guidance based on that information.</p>

      <h2 class="govuk-heading-m">
        Version 2
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <p class="govuk-!-margin-bottom-2">This version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>introduces save and return functionality</li>
        <li>allows upload of some evidence, original documents will still be required to be posted though</li>
        <li>adds a task list so they can fill in the form in the order they want</li>
      </ul>

      {# <h3 class="govuk-heading-s">Research notes</h3>
      <p class="govuk-hint">Not researched yet.</p>
       <p><a href="#0">View user research report</a>.<p> #}

      {{ govukButton({
        text: 'View prototype',
        href: 'v2/overview'
      }) }}




      {% set v1 %}
        <p>We&rsquo;ve <a href="https://lucid.app/lucidchart/4ce1c424-e7c2-42e3-9341-5891abbd49bc/edit?viewport_loc=-1041%2C-518%2C5542%2C2409%2C0_0&shared=true">mapped out different complexity options for completing and sending the form</a>, and we now want to test the most simple of these.</p>

        <p>The online journey will guide the user through the questions in the form and then allow them to print a form which has been populated with their answers, as well as a personalised checklist for which documents need to be posted with the form.</p>

        {{ govukButton({
          text: 'View prototype',
          href: 'v1/overview'
        }) }}
      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
