{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prototypes
      </h1>

      <h2 class="govuk-heading-m">Beta</h2>

      <p>During the beta we&rsquo;ve prototyped:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="beta-end-to-end/" class="govuk-link--no-visited-state">the end to end beta journey</a>
        </li>
        <li>
          <a href="beta-docs/" class="govuk-link--no-visited-state">a document checker</a>
        </li>
        <li>
          <a href="admin/" class="govuk-link--no-visited-state">admin access to applications</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Alpha</h2>

      <p>View the proposed <a href="beta-end-to-end/v1/guidance/overview" class="govuk-link--no-visited-state">end to end beta journey</a>.</p>

      <p class="govuk-!-margin-bottom-2">Previous features we&rsquo;ve prototyped and researched:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="application/" class="govuk-link--no-visited-state">Application</a>
        </li>
        <li>
          <a href="eligibility/" class="govuk-link--no-visited-state">Check the service is suitable</a>
        </li>
        <li>
          <a href="guidance/" class="govuk-link--no-visited-state">Guidance</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
