{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prototypes
      </h1>
      <p>
        This is a collection of prototypes for the {{ serviceName }} alpha.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="eligibility/" class="govuk-link--no-visited-state">Eligibility checker</a>
        </li>
        <li>
          <a href="guidance/" class="govuk-link--no-visited-state">Guidance</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
