{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prototypes
      </h1>

      <p>View the proposed <a href="beta-end-to-end/" class="govuk-link--no-visited-state">end to end beta journey</a>.</p>

      <p class="govuk-!-margin-bottom-2">Previous features we&rsquo;ve prototyped and researched:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="application/" class="govuk-link--no-visited-state">Application</a>
        </li>
        <li>
          <a href="eligibility/" class="govuk-link--no-visited-state">Eligibility checker</a>
        </li>
        <li>
          <a href="guidance/" class="govuk-link--no-visited-state">Guidance</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
