{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% call govukFieldset({
          legend: {
            text: 'What name do you want on your Gender Recognition Certificate?',
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            id: 'first-name',
            name: 'first-name',
            value: data['first-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'First name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

          {{ govukInput({
            id: 'middle-name',
            name: 'middle-name',
            value: data['middle-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'Middle names',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'additional-name',
            spellcheck: false
          }) }}

          {{ govukInput({
            id: 'last-name',
            name: 'last-name',
            value: data['last-name'],
            classes: 'govuk-!-width-three-quarters',
            label: {
              html: 'Last name',
              classes: 'govuk-label--/l'
            },
            autocomplete: 'given-name',
            spellcheck: false
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>


      </form>

    </div>
  </div>
{% endblock %}
