{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Before you can apply for a full Gender Recognition Certificate
      </h1>

      <p>You will need to end your marriage or provide a declaration of consent from your spouse before you can apply for a full Gender Recognition Certificate.</p>

      <p>Return to <a href="https://grc-prototypes.herokuapp.com/application/v1/overview">Gender Recognition Certificate guidance</a>.</p>

    </div>
  </div>
{% endblock %}
