{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'start'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukRadios({
          idPrefix: 'age-check',
          name: 'age-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Are you 18 or over?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('age-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('age-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
