{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'overseas-check' if data['overseas-check'] == 'No' else 'overseas-approved-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Required medical reports
        </h1>

        <p>You will need to provide 2 medical reports:</p>
        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-bottom-8">
          <li>a medical report that includes specific details of your gender dysphoria diagnosis provided by a registered medical practitioner or registered psychologist practising in the field of gender dysphoria</li>
          <li>a medical report that includes specific details of your treatment, or planned treatment, such as hormone treatments or surgery, made by a registered medical practitioner - this could be your GP or surgeon</li>
        </ol>

        {{ govukRadios({
          idPrefix: 'dysphoria-check',
          name: 'dysphoria-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Can you provide both medical reports?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('dysphoria-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('dysphoria-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
