{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply for a Gender Recognition Certificate using this service
      </h1>

      <p>You must be able to provide evidence that you have or have had gender dysphoria to use this new service.</p>



      <h2 class="govuk-heading-m">Alternative route</h2>

      <p>You must still be able to <a href="#0">apply by the alternative route</a> if all the following are true:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you&rsquo;re 18 or over</li>
        <li>you&rsquo;ve been diagnosed with gender dysphoria or had surgery to change your sexual characteristics</li>
        <li>you live in England, Wales, Northern Ireland or Scotland most of the time </li>
        <li>you intend to live in your acquired gender for the rest of your life</li>
        <li>you&rsquo;re in (or have been in) a protected marriage or protected civil partnership before 10 December 2014 (16 December 2014 for Scottish marriages and civil partnerships)</li>
        <li>you&rsquo;ve lived in your acquired gender for at least 6 years before 10 December 2014 (16 December 2014 for Scottish marriages and civil partnerships)</li>
      </ul>


      <p>A marriage or civil partnership is protected if it&rsquo;s one of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>registered under the law of England, Wales or Northern Ireland</li>
        <li>a marriage solemnised in Scotland</li>
        <li>a civil partnership registered in Scotland</li>
        <li>a marriage registered under the law of a country or territory outside the UK</li>
        <li>a marriage on UK consular premises or in an armed forces base, if you elected England, Wales, Northern Ireland or Scotland as the relevant part of the UK</li>
      </ul>

    </div>
  </div>
{% endblock %}
