{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'six-years-check' if data['dysphoria-check'] == 'No' else 'two-years-check'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% set stayMarriedCheck %}
          {{ govukRadios({
            idPrefix: 'stay-married-check',
            name: 'stay-married-check',
            fieldset: {
              legend: {
                text: 'Do you intend to stay married or in your civil partnership?',
                classes: 'govuk-fieldset__legend--m'
              }
            },
            items: [
              {
                html: 'Yes',
                value: 'Yes',
                checked: checked('stay-married-check','Yes')
              },
              {
                html: 'No',
                value: 'No',
                checked: checked('stay-married-check','No')
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: 'married-check',
          name: 'married-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Are you married or in a civil partnership?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('married-check','Yes'),
              conditional: {
                html: stayMarriedCheck
              }
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('married-check','No')
            }
          ]
        }) }}


        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
