{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You can apply for a Gender Recognition Certificate
      </h1>

      <p>You can apply for a Gender Recognition Certificate using the new online service.</p>

      <h2 class="govuk-heading-m">
        Documents you need to provide
      </h2>

      <p>You will need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your new birth certificate and old birth certificate</li>
        <li>an amended birth certificate that shows the change of gender</li>
        <li>a court order authorising your change of gender</li>
        <li>a document that’s equivalent to a Gender Recognition Certificate</li>
        <li>an entry in a legal register that proves your acquired gender has been recognised</li>
      </ul>

      {{ govukButton({
        text: 'Start application',
        href: 'declaration',
        isStartButton: true,
        classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-8'
      }) }}

      {# <p><a href="start">Go back to this tool&rsquo;s start page</a>.</p> #}

    </div>
  </div>
{% endblock %}
