{% extends "layout.html" %}

{% block header %}
  {% include "./_govuk-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "./_breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Apply for a Gender Recognition Certificate if you want your affirmed gender to be legally recognised in the UK.</p>

      <p>Although you do not need a Gender Recognition Certificate to get a new driving licence or passport with your affirmed gender, you do need one to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>receive a new birth certificate which lists your affirmed gender</li>
        <li>have your gender updated in HMRC’s records</li>
      </ul>

      {{ govukInsetText({
        html: 'Read more about <a href="https://www.gov.uk/government/publications/gender-recognition-how-pensions-and-benefits-may-be-affected/gender-recognition-certificate-pensions-and-benefits-note">how a Gender Recognition Certificate could impact any pensions and benefits</a>.'
      }) }}

      <p>Applying for a Gender recognition certificate costs £5.</p>

      <p>You can apply for <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees">help in paying this fee</a>.</p>

      <p>There may be other costs involved, such as legal or mediation fees that you may need to consider. <a href="https://www.gov.uk/legal-aid">Check if you can get Legal Aid to help with these costs</a>.</p>

      <p>This service is also available in <a href="#0">Welsh (Cymraeg)</a>.</p>






      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You can use this service to find out if you are eligible to apply, and exactly which documents you will need to provide during the application.</p>

      {{ govukButton({
        text: 'Start now',
        href: 'age-check',
        isStartButton: true,
        classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-8'
      }) }}






      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p>If you are eligible, you will be told which documents you need to provide. You will then be invited to start your application for a Gender Recognition Certificate.</p>

      <p>As part of the application process you will be asked for both personal and contact details, as well as information on your circumstances, such as whether you are married or in a civil partnership.</p>

      <p>You will then be asked to upload your documents, which will be reviewed by the Gender Recognition Panel. They may contact you if they require more information.</p>

      <p>You will then be told if you will be issued with a Gender Recognition Certificate.</p>

      <p>If your application is unsuccessful, you will be told how you can reapply or appeal the decision.</p>

      <p>Decisions take around 12 weeks on average.</p>



      {% include "./_explore-topic.html" %}
    </div>

    {% include "./_related-content.html" %}
  </div>
{% endblock %}
