{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 8 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Read declaration
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag">Completed</strong>
            </li>
          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Your contact details
                </a>
              </span>
              {# <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong> #}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Your birth registration information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
            </li>
            {% if data['married-check'] == 'Yes' %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#0">
                    Marriage details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
              </li>
            {% endif %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Give medical report information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#0">
                  Provide documents to support you application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
            </li>
          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
