{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '../task-list'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Marriages and civil partnerships
        </h1>

        <p>If you’ve ever been married or in a civil partnership, you’ll need to have an original or <a href="https://www.gov.uk/certifying-a-document">certified copy</a> of any of your marriage or civil partnership certificates.</p> 

        {{ govukRadios({
          idPrefix: 'current-check',
          name: 'current-check',
          classes: '',
          fieldset: {
            legend: {
              text: 'Are you currently married or in a civil partnership?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            text: 'If you are in the process of ending, or you plan to end your marriage or civil partnership, you should select your current, legal status'
          },
          items: [
            {
              html: 'Married',
              value: 'Married',
              checked: checked('current-check','Married')
            },
            {
              html: 'Civil partnership',
              value: 'Civil partnership',
              checked: checked('current-check','Civil partnership')
            },
            {
              divider: 'or'
            },
            {
              html: 'Neither',
              value: 'Neither',
              checked: checked('current-check','Neither')
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            html: 'Save and continue'
          }) }}
          <a href="../task-list" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
